// *************************
// Dependency
// *************************

//@import url(https://fonts.googleapis.com/css?family=Varela+Round|Arimo:400,700);

// *************************
// Branding 1 global variables
// *************************

// Color
$brand-accent: map-get($foundation-palette, secondary);
$brand-accent-dark: map-get($foundation-palette, primary);
$brand-green:map-get($foundation-palette, warning);
$brand-blue-dark:map-get($foundation-palette, success);
$brand-blue:map-get($foundation-palette, alert);
$big-padding: 2rem;
$bigger-padding: 2rem;
$small-padding:0.5em;
$deco-border: 1px solid $light-gray;
$block-border-accent:5px solid $brand-accent;
$branding-banner:"/assets/img/alwtheme/albwgflat.jpg";
$askus-bg-img:'/assets/img/alwtheme/askusbw.jpg';


// *************************
//  global mixins
// *************************

//deco circle style, $circle-w width, $bcolor background clor
@mixin alw-circle ($circle-w, $bcolor, $ecolor){
  span, a, i{
    color: $white;
  }

  span{
    width:$circle-w;
    height:$circle-w;
    background-color: $bcolor;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items:center;
    justify-content: center;
    //border:5px solid $light-gray;
    border: 5px solid $ecolor;
    &:hover {
      background-color: lighten($bcolor, 10% );
    }
  }
}
//2 color square style
@mixin brand-square($size, $color1, $color2) {
  span{
    margin-right: $size;
    &::before, &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    }
    &::before {
        border-top: $size solid $color1;
        border-right: $size solid transparent;
    }
    &::after {
      border-top: $size solid transparent;
      border-right: $size solid $color2;
    }
  }
}
// *************************
// Branding 1 global styles
// *************************

//remove default off-canvas-content box shadow
.off-canvas-content, .off-canvas-content {
  box-shadow: none;
}
.with-logo img {
  width: 160px;
}

h1, h2, h3, h4 {
  a, a:visited {
  color:$black;
  }
} 

//all headline image wrapper
.headline-image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

//icon badge
.icon-color-b{
background-color:$brand-accent;
}
.icon-color-d{
background-color:$black;
}

// sub header link style "| more....""
.sub-header-link {
  border-left: 1px solid $black;
  margin-left: $global-margin;
  a, a:visited {
  padding-left: $global-padding;
  //border-left: 1px solid $brand-accent;
  font-size: 80%;
  color:$brand-accent;
  }
}

// *************************
//  Utility Menu - Header
// *************************
// utility-menu
.al-small-canvas {
  background-color: $off-black;
  .al-utilitiy-menu-small,.al-small-canvas-menu {
    background-color: inherit;
       a, a:visited {
        color: $white;
    }
  }
 
  
  .lev-sub li{
    a, a:visited {
        color: $medium-gray;
        margin-left: $small-padding;
    }
  }
}

.al-utilitiy-menu {
    padding: 0 $global-padding;
    border-bottom:1px solid $brand-accent;

    .my-account {
      padding-right: $big-padding;
        i {
          color: $off-black;
          padding-right: $small-padding;
        }
    }

    //utility menu style
    ul.menu {
      li a {
      color:$black;
      }
      border: none; 
       ul li{     
         &:last-child {
         border-bottom:1px solid $brand-accent; 
        }
       }
       ul li a {       
        border: 0;        
        &:hover {
          background: $white;
        }
      }
    }   
  //site search form foundation style
  .site-search {
    .input-group {
      border: none;
      //width: 200px;
      padding: 0;
      margin: 0;
    }
    .input-group-label{
      background-color: $white; 
      border: none;
    }
    .input-group-field {
      border: 1px solid $white;
      box-shadow: none;
      //width: 100%;
    }
  }
}

// *************************
//  Branding banner
// *************************

.banner {
  margin-left: auto;
  margin-right: auto;
  height: 129px;
  display: block;
  background: url($branding-banner) no-repeat center 50%;
  background-size: 100%;
  border-bottom: $block-border-accent;
  border-top: $brand-accent 1px solid;
  img.sitelogo {
    background:$transparent;
    padding: $big-padding $global-padding;
    height: 160px;
  }
}
// *************************
// Footer - AL
// *************************

.al-footer {
  @include breakpoint(small only) {
    div, ul, p{
      text-align: center;
    }
  }
  height: auto;
  background-color: $off-black; 
  padding-top: 300px;
  h2 {
    font-size: 1.3rem;
    font-weight: bold;
    color:$medium-gray;

  }
  h3, p, a {
    color: $white;
  }
  a, a:visitd {
    transform: underline;
  }
  .ask-tell {
    @include breakpoint(small only) {
      margin-left:auto;
      margin-right:auto;
      width: 200px;
      padding-bottom: $global-padding;
    }

    li {
    padding-right:1rem;
    }
  }
  .alfooterlogo {
    width: 280px;
    height: auto;
  }
  .map-icon img{
    width: 100px;
    height: auto;
  }
  .fdll img{
    width:30px;
    height:auto;
  }
}

// *************************
// Footer - Schools color logos icons
// *************************

.utility-menu-footer{  
  background: $black;
  span, p, a {
    color: $light-gray;
  }
  padding-top: $global-padding;
}

.cu {@include brand-square(20px,#cfb880, #000);}
.metro {@include brand-square(20px,#d01944, #1b477b);}
.ccd {@include brand-square(20px,#fbb931, #54277d);}
.ahec {@include brand-square(20px,#aed5ea, #137fc2);}

// *********************************
//  Home - Main Content Row - Search & Hours
// *********************************
.main-row-wrapper{
  background: $white;
  .main-row {
  padding: $big-padding;
  }

}

//main search block
.main-search {
  .more-resource{
    text-align: center;
    @include breakpoint(medium){
     @include button-group-expand();
    }
    @include breakpoint(small only){
     @include button-group-stack();
    }
  }
  .more-button {
    font-weight: bold;
    color: $white;
    background-color: $dark-gray;
    &:hover{
      background-color: $brand-blue-dark;

    }  
  }

  .input-group-label {
    background-color: $brand-accent; 
    color: $white; 
    cursor: pointer; 
    border: none;
  }
  //forms styling

  [type="text"] {
  background-color: $light-gray;
  } 
  //need to bring in more from sasah branding1.scss

}
//end main search block

// Main Content Row - Today Hour
.today-hours {

  @include breakpoint(medium down){
    border-top:$deco-border;
    padding-top:$small-padding;
  }

  padding-left: $big-padding;
  border-left: $block-border-accent;

  h3 {
    color: map-get($foundation-palette, success);
  }
  .hours-info{
    padding-top: $big-padding;
    padding-bottom: $big-padding;
  }
  .hours-time{
    font-size:1.2rem;
  }

  .status-circle-open {
  @include alw-circle(60px, $brand-green,$light-gray);
  }
 
  .more-hours{
    padding-left: $global-padding;
    padding-top: $big-padding;
    margin-left: auto;
    margin-right:auto;
    //overide default dropdown arrow color
    .button.dropdown::after {       
        border-color: $dark-gray transparent transparent;       
    }
  }
}
// End Main Content Row - Today Hour

// ***********************************
//  Home - Main Content Row 2- Promo & qLinks
// ***********************************
.second-main{
  background-color:$transparent;
  padding:$big-padding $global-padding;
  .headline-news p {
    // @include breakpoint(small only){
    //   display:none;
    // }

    @media only screen and (max-width: 480px){
      display:none;
    }
  }

  // promo affect
  .promo-image-wrapper {
    width: 100%;
    height: 100%;
    border: 0px solid rgba(0,0,0,0.04);
    overflow: hidden;
    position: relative;
    text-align: left;
    background: $white;
  
  } 
  //promo image hover over affect
  //hover over image content 
    .promo-image-overlay-content {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      padding-left: $big-padding;
      padding-right: $big-padding;
    }

  .overlay-fade-in {    
    p {
      letter-spacing: 0.1em;
      color: $light-gray;
      opacity: 0;
      //transition: all 0.2s linear;
    }    
      
    .promo-image-overlay-content {
      opacity: 0;
      //background: rgba(81,83,92, 0.9);
      //background: rgba(142,142,142, 0.9);
      background: rgba(0,102,153, 0.9); //brand dark blue
      transition: all 0.4s ease-in-out;
    }
    
    h2 {
      color: $light-gray;
      //font-size: 1.8rem;
      margin-top: $global-padding;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
    
    .button {
      // display: inline-block;
      // text-decoration: none;
      // padding: 7px 14px; 
      background: $brand-accent;
      // color: #222;
      // //text-transform: uppercase;
      box-shadow: 0 0 1px $black;
      // position: relative;
      // border: 1px solid #999;
      // opacity: 0;
      // transition: all 0.2s ease-in-out;
      
      &:hover {
        box-shadow: 0 0 5px $black;
      }
    }
    
    &:hover img {
      transform: scale(1);
    }
    
    &:hover .promo-image-overlay-content {
      opacity: 1;
    }
    
    &:hover h2, p, .button {
      opacity: 1;
    }
    
    &:hover p {
      transition-delay: 0.1s;
    }
    
    &:hover .button {
      transition-delay: 0.2s;
    }
    &:hover figcaption {
      display: none;
    }
  } 
  //promo image hover over affect

}
//end second main

// Main Content Row 2- qLinks
.quick-link-list {
  //margin-left:-1rem;
  padding: $big-padding;
  @include breakpoint(medium){
  background: $white;
  }

  h2 {
    padding-bottom: $global-padding;
  }
  //shrink font size for smaller large screen
  h3 {
    @media only screen and (max-width: 1240px){
      font-size: 90%;
    }


  }
  //fixing equalizer on large vs photo dimension display for large screen smaller than 1150px 
  .quick-link {
    //shrink padding for smaller large screen
    @media only screen and (max-width: 1240px){
    padding: .1rem 0;
    }
    padding: $small-padding 0;
    }
  
  .badge {
    background: $brand-blue-dark;
    &:hover {
     background: $dark-gray;
    }
  }

}
//end quick link list

// *************************
//  Home - Main Content Row 4- Ask Us
// *************************
// Ask Us Block Background Image
.askus-bg {
    display: block;
    height: auto;
    min-height: 0;
    overflow: hidden;
    padding:6rem 0 13rem;
    //padding: 131px 0 209px;
    position: relative;
    background: url($askus-bg-img) no-repeat center 70% / cover;
    &:before, &:after {
      background: $body-background none repeat scroll 0 0;
      content: "";
      height: 75px;
      left: -2-%;
      position: absolute;
      width: 120%;
    }
    &:before {
      //transform: rotate(1deg);
      top: -75px;
    }
    &:after {
      transform: rotate(-3.5deg);
      bottom: -75px;
    }
}

.main-icon{  
  @include alw-circle(8rem, $dark-gray, $dark-gray);
  font-size: 1.5rem;
  margin-top: -2rem;

  @include breakpoint(small only) {
    @include alw-circle(4rem, $dark-gray, $dark-gray);
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0;
  }
  @include breakpoint(medium only) {
    @include alw-circle(6rem, $dark-gray, $dark-gray);
    font-size: 1rem;
    font-weight: bold;
    margin-top: -1rem;
  }  
}
.askus-icons{
  @include alw-circle(4rem,$brand-accent,$dark-gray);
  font-size: 2rem;
  
}

// *************************
// Main Content Row 3- News & Events
// *************************

// News and events

// move up closer to aksu 
.marcomm-block {
  //authors style
  .authors{
  color:$dark-gray;
  }

  // move up position to be closer to aksu 
  margin-top: -150px;
  position: relative; 
  margin-bottom: -200px;

  //main news listing style
  .news-item{
  padding-bottom: $global-padding;
  border-top: $deco-border;
  padding-top: $big-padding;

  }

  //news listing style
 .news-list-top{
     background: $white;
     padding:$big-padding;
  }
  // Diagonal deco at the end of news

  @include breakpoint(large) {
    .corner-wrapper {
      overflow: hidden;
    }
    .corner {
        width: 0;
        height: 0;
        border-top: 60px solid $white;
        border-right: 900px solid transparent;

    }
  }

  //news sidebar for featured
  .news-sidebar {
    .featured {
        background: $transparent;
        //padding:0;
        small {
          color:$dark-gray;
        }
    }

    .featured-content {
      padding:$big-padding;
      background: darken($light-gray, 4%);
      border-bottom: $block-border-accent;
    }

  }
  //end news sidebar for featured

  //event list style from building block
  .event-list {
      margin-top: $global-margin;
      background: $white;
      border-bottom: $block-border-accent;
     
  }

  .event-header{
    padding: $global-padding;
  }

  //event item style

  .event-item { 
    padding:$big-padding $global-padding;
    border-top: $deco-border;
     h3 a {
      font-size: 90%;
    }
  }
  .event-date {
    margin: 0 auto $global-padding;
    display: table-cell;
    width: auto;

    .event-month {
      margin: 0;
      background: $light-gray;
      padding: $small-padding;
      text-align: center;
    }
    .event-day {
      margin: 0;
      border: 1px solid $light-gray;
      padding: 0 $global-padding;
      text-align: center;
    }
  }
  .event-desc {
    padding: 0 0 0 $global-padding;
    text-align: left;
    display: table-cell;
    vertical-align: top;

    .event-desc-header {
      margin: 0 0 $small-padding 0;
      padding: 0;
    }

    .event-desc-detail {
      margin: 0 0 $small-padding;
      padding: 0;
    }

    .event-desc-info {
      font-weight: bold;
    }
    .rsvp.button {
      padding-top: $small-padding;
      padding-bottom: $small-padding;
      margin: 0;
    }
    
  }
  //end of event listing style

}

// *************************
//  ADI 
// *************************

/////////////////////////////////////////////////
//database design //
/////////////////////////////////////////////////

//database result new and trial badge style
.cbadge{
  width: 2.5rem;
  height: 2.5rem;

}
//summary more and less toggle
.morecontent{
  span {
    display: none;
  }
}
.morelink {
    display: block;
}



