// *************************
// Dependency
// *************************

//@import url(https://fonts.googleapis.com/css?family=Varela+Round|Arimo:400,700);

// *************************
// Branding 1 global variables
// *************************

// Color
$brand-accent: map-get($foundation-palette, secondary);
$brand-accent-dark: map-get($foundation-palette, primary);
$accent-gray: $light-gray;
$big-padding: 2rem;
$small-padding:0.5em;
$deco-border: 1px solid $dark-gray;
$block-border-accent:5px solid $brand-accent;
//$img-hover-global-radius: 4px;

// *************************
// Branding 1 global styles
// *************************

h4 {
  a, a:visited {
  color:$brand-accent-dark;
  }
} 
.authors{
  color:$dark-gray;
}



.headline-image-wrapper {
  width: 100%;
  height: 100%;
  //border: 10px solid $white;
  overflow: hidden;
  //position: relative;
  //text-align: left;
  //border-radius: $img-hover-global-radius;
  //padding:$global-padding;
}


//icon badge
.icon-color-b{
background-color:$brand-accent;
}
.icon-color-d{
background-color:$off-black;
}


// Typography

// *************************
// Utility Menu - Header
// *************************
// utility-menu
.al-utilitiy-menu {
  // background: $dark-gray;
 ul.menu{
height: 40px;
font-size: .9rem;
background: $light-gray;
 }
}
img.sitelogo {
  background: $white;
  padding: $big-padding;

}

//Site search form
.site-search {
  .input-group {
    margin-top: 0.5rem; 
    border: none;}
  //.input-group {margin-top: 12px; margin-bottom: 5px; position: relative;}
  .input-group-label{
    background-color: $transparent; 
    border: none;
    margin-left: -5rem;
  }
  .input-group-field {
    border: none;
    margin-left: 3rem;
    width: 250px;
  }
}

// *************************
// Branding banner
// *************************

.banner {
  margin-left: auto;
  margin-right: auto;
  height: 130px;
  //background: url('/assets/img/deco/header-banner2.png') no-repeat center center;
  display: block;
  border-bottom: $block-border-accent;
}
//design options, remove later//
.optone {
  //background: url('/assets/img/deco/CUD_students_0388w.jpg') no-repeat center center;
  background: url('/assets/img/alwtheme/alcolorflat.jpg') no-repeat center center;
  background-size: 100%;
  padding-top:1rem;
  padding-bottom:0;
}
//nw edit end//



// *********************************
// Main Content Row - Search & Hours
// *********************************
.main-row-wrapper{
  background: $white;
}
.main-row {
  padding: $big-padding;

  .today-hours {
    border-left: $block-border-accent;
    padding:0 $big-padding;
  }
}


// Main Content Row - Today Hour



// ***********************************
// Main Content Row 2- Promo & qLinks
// ***********************************
.second-main{
  // background-color: map-get($foundation-palette, warning);
  background-color: $transparent;
  background-size: cover;
  padding:$big-padding $global-padding;
  margin: $global-padding auto;
}

// promo affect

.image-wrapper {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0,0,0,0.04);
  overflow: hidden;
  position: relative;
  text-align: left;
  //border-radius: $img-hover-global-radius;
}

.image-overlay-content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.overlay-fade-in {
  
  p {
    letter-spacing: 0.15em;
    color: #f4f4f4;
    font-size: 1.2rem;
    opacity: 0;
    //transition: all 0.2s linear;
  }
  
  img {
    //transition: all 0.2s linear;
  }

  
  .image-overlay-content {
    opacity: 0;
    background: rgba(81,83,92, 0.8);
    transition: all 0.4s ease-in-out;
  }
  
  h2 {
    color: #f2f2f2;
    font-size: 1.8rem;
    margin-top: 1rem;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    //background: rgba(0,0,0,0.7);
  }
  
  .button {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px; 
    background: #FFF;
    color: #222;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    position: relative;
    border: 1px solid #999;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    
    &:hover {
      box-shadow: 0 0 5px #000;
    }
  }
  
  &:hover img {
    transform: scale(1);
  }
  
  &:hover .image-overlay-content {
    opacity: 1;
  }
  
  &:hover h2, p, .button {
    opacity: 1;
  }
  
  &:hover p {
    transition-delay: 0.1s;
  }
  
  &:hover .button {
    transition-delay: 0.2s;
  }
  &:hover figcaption {
    display: none;
  }
} 


// Main Content Row 2- qLinks
.quick-link-list {
  background: $white;
  padding: $big-padding;
  .quick-link {
    padding: $small-padding 0;
  }
}


// *************************
// Main Content Row 4- Ask Us
// *************************
// Ask Us Block Background Image
.askus-bg {
    display: block;
    height: auto;
    min-height: 0;
    overflow: hidden;
    padding: 131px 0 209px;
    position: relative;
    background: url('/assets/img/hero-img.jpg') no-repeat center center / cover;
    &:before, &:after {
      background: $body-background none repeat scroll 0 0;
      content: "";
      height: 100px;
      left: -10%;
      position: absolute;
      width: 120%;
    }
    &:before {
      //transform: rotate(1deg);
      top: -75px;
    }
    &:after {
      transform: rotate(-2.5deg);
      bottom: -55px;
    }
}

// Ask Us Icons
.askus-icons {
  i, a {
    color: $white;
  }
  i {
    font-size: 2.6em;
  }

  //main ask us label
  a.main-icon {
    width: 100px;
    height: 100px;
    margin-top: -15px;
    &:hover {
      //background-color: darken( $brand-accent, 10% );
      background-color: $brand-accent;
    }
    // @media only screen and (max-width: 1024px){
    //   margin-bottom: 15px;
    // }
  }

  //individual ask us service icons

  a {
    width:70px;
    height: 70px;
    background-color: $dark-gray;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  a, span{
    display: flex;
    align-items:center;
    justify-content: center;
  }
  span {
    width: 60px;
    height: 60px;
    background-color: $brand-accent;
    display: block;
    border-radius: 50%;
    &:hover {
      background-color: lighten( $dark-gray, 10% );
    }
  }

}
// *************************
// Main Content Row 3- News & Events
// *************************

// News and events

// move up closer to aksu 
.marcomm-block {
  // move up position to be closer to aksu 
  margin-top: -150px;
  position: relative; 
  margin-bottom: -200px;
  

  //main news listing style
  .news-item{
  padding-bottom: $big-padding;

  }

  //news listing style
 .news-list-top{
     background: $white;
     padding:$big-padding;
  }
  // Diagonal deco at the end of news
  .corner-wrapper {
    overflow: hidden;
  }
  .corner {
      width: 0;
      height: 0;
      border-top: 60px solid $white;
      border-right: 900px solid transparent;

  }

  //news sidebar for events and featured

  .news-sidebar {
    //padding:$block-padding;
    //background: $light-gray;
    .featured {
        background: $transparent;
        padding:0 $global-padding;
    }
    .featured-content {
      padding:$big-padding;
      background: darken($light-gray, 4%);
      border-bottom: $block-border-accent;
      margin-bottom: $global-margin;

    }
    .event-list {
        background: $white;
        border-bottom: $block-border-accent;
        padding:$global-padding;
    }
    .event-item {
        padding: $global-padding;
    }
   

    //event style from building block
    // .event {
    //   padding: 1rem 1rem 1rem 0;
    //   display: table;
    // }

    .event-date {
      width: 6rem;
      margin: 0 auto 1rem;
      display: table-cell;
      width: auto;

      .event-month {
        margin: 0;
        background: #eee;
        padding: 0.5rem;
        text-align: center;
      }

      .event-day {
        margin: 0;
        border: 1px solid #eee;
        padding: 0 1.2rem;
        text-align: center;
        font-size: 1.5rem;
      }
    }

    .event-desc {
      padding: 0 0 0 1rem;
      text-align: left;
      display: table-cell;
      vertical-align: top;

      .event-desc-header {
        margin: 0 0 0.5rem 0;
        padding: 0;
      }

      .event-desc-detail {
        margin: 0 0 0.25rem;
        padding: 0;
      }

      .event-desc-info {
        font-weight: bold;
      }

      .rsvp.button {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin: 0;
      }
    }

  }
}

//.marcomm-block .alt-padding {padding: 30px 45px 20px;}
// @media only screen and (max-width: 1024px){
//   .main-content article, .main-content article.alt-padding {padding:20px;}
// }
// @media only screen and (max-width: 768px){
//   .main-content article{padding:15px;}
// }#e8e8e8
.grey-bckr {background-color:$brand-accent;}

// // Listing
// .marcomm-block .listing {
//   .media-header-wrapper {float:left;}
//   //.media-object img {border-left: 4px solid $orange;}
//   .media-date {
//     //float: right;
//     //background-color: $dark-grey;
//     font-size: 0.9em;
//     color: #333;
//     //padding: 5px;
//     p {
//       margin-bottom: 0;
//     }
//     i {
//       font-style: normal;
//     }
//   }
// }

// // Small Listing (event)
// .listing-event {padding-top: 10px; margin-bottom: 10px;}
// @media only screen and (min-width: 1024px){.listing-event {background-color: #f8f8f8;}}
// .listing-event h4.event-desc-header {font-size: 1.1rem;}
// .listing-event h4.event-desc-header a {color: #333;}
// .listing-event .event-date .event-month {color: #fff; padding: 0; background: #666 none repeat scroll 0 0; margin-top: 5px;}
// .listing-event .event-date .event-day {padding: 0 1rem; font-size: 0.8em; border: 1px solid #666;}
// .listing-event .button {padding: 0.4em 1em; color: lighten(#666, 10%); color: white;}
// .listing-event .event-desc-where {line-height: 2.7;}
// .listing-event .event-desc-where i {font-style: normal; color: #666;}
// .listing-event .event-desc-detail {float: right;}



// *************************
// Footer - AL
// *************************

.al-footer {
  height: auto;
  background-color: $dark-gray; 
  padding-top: 230px;
  h1, h2, h3, p, a {
    color: $light-gray;
  }
  a, a:visitd {
    transform: underline;
  }
 .ask-tell li {
  padding-right:1rem;
 }

}
.social-icons{
  //if needed adddtional style
}


// *************************
// Footer - Schools color logos icons
// *************************

.utility-menu-footer{
  background: $off-black;
  span, p, a {
    color: $light-gray;
  }
}

.logo-icons {
  @media only screen and (min-width: 1024px){
  span.cu, span.metro, span.community, span.ahec {
  margin-right: 20px;
  &::before, &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
  }
  }
 span.cu { // University of Colorado Denver
  &::before {
    border-top: 20px solid #cfb880;
    border-right: 20px solid transparent;
  }
  &::after {
    border-top: 20px solid transparent;
    border-right: 20px solid black;
  }
  }
 span.metro { // Metropolitan State University of Denver
  &::before {
    border-top: 20px solid #d01944;
    border-right: 20px solid transparent;
  }
  &::after {
    border-top: 20px solid transparent;
    border-right: 20px solid #1b477b;
  }
  }
 span.community { // Community College of Denver
  &::before {
    border-top: 20px solid #fbb931;
    border-right: 20px solid transparent;
  }
  &::after {
    border-top: 20px solid transparent;
    border-right: 20px solid #54277d;
  }
  }
 span.ahec { // Auraria Higher Education Center
  &::before {
    border-top: 20px solid #aed5ea;
    border-right: 20px solid transparent;
  }
  &::after {
    border-top: 20px solid transparent;
    border-right: 20px solid #137fc2;
  }
  }
  }
}

  // .foot-sm {
  //     width: 0;
  //     height: 0;
  //     border-top: 30px solid $white;
  //     border-right: 1200px solid transparent;
  // }
  //.foot-sm-top {
  //     width: 0;
  //     height: 0;
  //     border-bottom: 30px solid $white;
  //     border-right: 1200px solid transparent;
  // }

