// *************************
// Colors
// *************************

// Theme colors

// white #ffffff
// light grey #f3f3f3
// medium grey #cccccc
// dark grey #666666
// orange #d5441c
// maroon #af332d
// dark maroon #3d100e

$maroon: #3d100e;
$orange: #d5441c; /* from actual swatch */
$darker-orange: #af332d;
$dark-grey: #e8e8e8;

// *************************
// Typography
// *************************

// Headings and paragraphs

h1, h2, h3, h4, h5, h6 {font-family: 'Varela Round', sans-serif;}

p {font-family: 'Arimo', sans-serif; font-size: 1.1em;}

// *************************
// Icons
// *************************

// Hero Icons
.hero-icons {
  a {
    width:70px; height: 70px; background-color: $maroon; border-radius: 50%; display: block; margin-left: auto; margin-right: auto;
  }
  a.flex-icon, span.flex-icon{
    display: flex; align-items:center; justify-content: center;
  }
  span {
    width: 60px; height: 60px; background-color: $orange; display: block; border-radius: 50%;
  }
  i {
    color: white; font-size: 2.6em;
  }
}
/* trying to convert to SASS above */
//.hero-icons a.flex-icon, .hero-icons span.flex-icon {display: flex; align-items:center; justify-content: center;}
//.hero-icons a {width:70px; height: 70px; background-color: $maroon; border-radius: 50%; display: block; margin-left: auto; margin-right: auto;}
//.hero-icons span {width: 60px; height: 60px; background-color: $orange; display: block; border-radius: 50%;}
//.hero-icons i {color: white; font-size: 2.6em;}
.hero-icons span:hover {background-color: lighten( $orange, 10% );}
.hero-icons a.main-icon {width: 100px; height: 100px; color: white; margin-top: -15px;} //wanted to use :first-child but it is not working for me
.hero-icons a.main-icon:hover {background-color: darken( $maroon, 10% );}
@media only screen and (max-width: 1024px){.hero-icons a.main-icon {margin-bottom: 15px;}}
footer .hero-icons a.main-icon {background-color: darken( #ccc, 20% ); width: 80px; height: 80px; margin-top: 15px;}

// Quicklink Icons
.link-icons {
  span.flex-icon {display: flex; align-items:center; justify-content: center;}
  span {width: 30px; height: 30px; background-color: darken( $dark-grey, 10% ); display: block; border-radius: 50%;}
  span:hover {background-color: darken( $dark-grey, 20% );}
  i {color: white; font-size: 1.5em;}
}
/* trying to convert to SASS above */
//.link-icons span.flex-icon {display: flex; align-items:center; justify-content: center;}
//.link-icons span {width: 30px; height: 30px; background-color: darken( $dark-grey, 10% ); display: block; border-radius: 50%;}
//.link-icons span:hover {background-color: darken( $dark-grey, 20% );}
//.link-icons i {color: white; font-size: 1.5em;}

// Simple Icons
.simple-icons i {color: #69c076; font-size: 3.4em; line-height: 0;}

// Icon Hours mobile
.mobile-hours i {color: #69c076; font-size: 1.5em;}

// Icon My account
.menu-text a {background-color: $orange; border-radius: 15px;}
.hero-menu ul li.menu-text a {color: white;}

//Social Icons
@media only screen and (max-width: 1024px){.social-icons {display: flex; justify-content: center;}}
ul.social-icons {margin-left:0;}
.social-icons span {float: left; margin-left: 2px; margin-right: 2px;}
.social-icons span.flex-icon {display: flex; align-items:center; justify-content: center;}
.social-icons span {width: 30px; height: 30px; background-color: darken( $dark-grey, 10% ); display: block; border-radius: 50%;}
.social-icons span:hover {background-color: darken( $dark-grey, 20% );}
.social-icons i {color: $off-black; font-size: 1.5em;}

//utitility class
.margin-b {margin-bottom: 15px;}


// *************************
// Homepage Styles
// *************************

// Header logo and Banner
.header-wrapper {position: relative; background: linear-gradient(to right, $white 0%,$white 50%,$white 50%,#bf463e 50%,#bf463e 100%); /* W3C */}
@media only screen and (max-width: 768px){.header-wrapper {display: none;}}
.banner {
  margin-left: auto;
  margin-right: auto;
  height: 160px;
  background: url('/assets/img/deco/header-banner2.png') no-repeat center center;
  display: block;
  border-bottom: 10px solid darken( #af332d, 10% );
}
@media only screen and (max-width: 1934px){.banner {background-position: left center;}}
@media only screen and (max-width: 1024px){.banner {background-position: -100px center;}}

// Hero menu
@media only screen and (min-width: 1024px){
  .hero-menu .top-bar, .top-bar ul {background-color: transparent;}
  .hero-menu .top-bar {padding: 0 0.5rem 0 0;}
  .hero-menu {border-bottom: 2px solid #ccc;}
}
.hero-menu {
  background-color: #666;
  .title-bar {background-color: #ccc; color: #333; box-shadow: 0 7px 0 #333, 0 14px 0 #333;}
  ul li a {color: $white; font-size: 1.1em; font-family: 'Varela Round', sans-serif;}
  .menu-icon{
    &:after {background: #333 none repeat scroll 0 0;}
  }
  .menuitem {padding: 0.7rem 1rem;}
}
/* trying to convert to SASS above */
//.hero-menu {background-color: #666;}
//.hero-menu .title-bar {background-color: #ccc; color: #333; box-shadow: 0 7px 0 #333, 0 14px 0 #333;}
//.hero-menu ul li a {color: $white; font-size: 1.1em; font-family: 'Varela Round', sans-serif;}
//.hero-menu .menu-icon:after {background: #333 none repeat scroll 0 0;}
//.hero-menu .menuitem {padding: 0.7rem 1rem;}

// Hero Search form, site search form
.hero-search [type="checkbox"] + label, .hero-search [type="radio"] + label {margin-left: 0;margin-right: 0.7rem;}
.hero-search h1 {font-size: 2rem;}
.hero-search [type="text"], .hero-search [type="password"], .hero-search [type="date"], .hero-search [type="datetime"], .hero-search [type="datetime-local"], .hero-search [type="month"], .hero-search [type="week"], .hero-search [type="email"], .hero-search [type="number"], .hero-search [type="search"], .hero-search [type="tel"], .hero-search [type="time"], .hero-search [type="url"], .hero-search [type="color"], textarea{box-shadow: none; border: 1px solid #666; background-color: #f3f3f3;}
.hero-search input::placeholder, .hero-search textarea::placeholder, .site-search input::placeholder, .site-search textarea::placeholder {color: #666;}
.hero-search .input-group-label {background-color: $orange; color: white; cursor: pointer; border: none;}
.hero-search .input-group-label:hover {background-color: darken( $orange, 10% );}

//Site search form
.site-search {
  input {font-size: 1em;}
  .input-group-field {height: 2rem;}
  .input-group-label {background-color: darken( $dark-grey, 30% );; color: white; cursor: pointer; width: 30px; height: 30px; padding: 0; border-radius: 50%;}
  .input-group-label:hover {background-color: darken( $dark-grey, 40% );}
  .input-group {margin-top: 15px; margin-bottom: 5px;}
}
/* trying to convert to SASS above */
//.site-search input {font-size: 1em;}
//.site-search .input-group-field {height: 2rem;}
//.site-search .input-group-label {background-color: darken( $dark-grey, 30% );; color: white; cursor: pointer; width: 30px; height: 30px; padding: 0; border-radius: 50%;}
//.site-search .input-group-label:hover {background-color: darken( $dark-grey, 40% );}
//.site-search .input-group {margin-top: 15px; margin-bottom: 5px;}

//Hero block
.hero-block {background-color: white;}

//Hours
.hero-hours {height: 100%; position: relative;}
.hero-hours:before {
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 100px solid red;
	border-left: 0 solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 100px;
}
@media only screen and (min-width: 1024px){ span.mobile-hours {display:none;}}
@media only screen and (max-width: 1023px){.hours-desktop {display: none;}}

//Quicklinks block
.quicklinks-block {
  h3 {font-size: 1.1em;}
  .media-object-section {float: left;}
}

//Padding
.hero-search, .hero-hours {padding:50px 65px 20px;}
@media only screen and (max-width: 768px){
  .hero-search{padding:15px;}
  .hero-hours {padding: 15px 15px 0;}
}

//Secondary menu
.menu-secondary {padding:0; margin-top: 30px; border-top: 1px solid #ccc;}
.menu-secondary .menu h3 a {padding: 0.7rem 1rem; color: #333;}
.menu-secondary .menu > li:first-child h3 a {padding-left: 0;}
.menu-secondary h3 {font-size: 1.1em; margin-top: 3px;}
.hero-hours {background-color: white;}

// Hero Background Image

.hero-image {
    display: block;
    height: auto;
    min-height: 0;
    overflow: hidden;
    padding: 131px 0 209px;
    position: relative;
    background: url('/assets/img/hero-img.jpg') no-repeat center center / cover;
    &:before, &:after {
      background: #f3f3f3 none repeat scroll 0 0;
      content: "";
      height: 100px;
      left: -10%;
      position: absolute;
      width: 120%;
    }
    &:before {
      transform: rotate(1deg);
      top: -75px;
    }
    &:after {
      transform: rotate(-2.5deg);
      bottom: -55px;
    }
}

// Offset Block
.offset-block {margin-top: -100px;position: relative; margin-bottom: -200px;}

// Main Content

section {margin-bottom: 15px;}

// Article
.main-content article {padding:50px 65px 20px; background-color: white;}
@media only screen and (max-width: 1024px){.main-content article {padding:20px;}}
@media only screen and (max-width: 768px){.main-content article{padding:15px;}}
article.grey-bckr {background-color: #e8e8e8;}

// Content Diagonal Footer
.foot-wrapper {overflow: hidden;}
.foot-sm {
  	width: 0;
  	height: 0;
  	border-top: 30px solid white;
  	border-right: 1200px solid transparent;
}
.foot-sm-top {
  	width: 0;
  	height: 0;
  	border-bottom: 30px solid white;
  	border-right: 1200px solid transparent;
}
.foot {
  	width: 0;
  	height: 0;
  	border-top: 60px solid white;
  	border-right: 800px solid transparent;
}

// *************************
// Core Reusable Styles
// *************************

// Body
body {background-color: #f3f3f3;}

// Header

// Menu


// *************************
// Overlay image modification
// *************************


.image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: left;
}

.image-overlay-content {
  background-color: #bf463e;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 65px 20px;
}

// modifier classes

.overlay-fade-in {

  p {
    letter-spacing: 0.15em;
    color: $white;
    opacity: 0;
    transition: all 0.2s linear;
  }

  a {color: white; font-weight: bold;

    &:hover {color: #ccc;}

    }

  img {
    transition: all 0.2s linear;
  }

  .image-overlay-content {
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }

  h2 {
    color: #f2f2f2;
    font-size: 1.8rem;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    //background: rgba(0,0,0,0.7);
  }

  .button {
    background: $white;
    border: none;
    opacity: 0;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #ccc;
    }
  }

  &:hover img {
    transform: scale(1.02);
  }

  &:hover .image-overlay-content {
    opacity: 1;
  }

  &:hover h2, p, .button {
    opacity: 1;
  }

  &:hover p {
    transition-delay: 0.1s;
  }
}

//Overlay fade in mobile
@media only screen and (max-width: 1024px){
  .overlay-fade-in img {display: none;}
  .overlay-fade-in h2 {opacity: 1 !important;}
  .overlay-fade-in {border-radius: 0 !important;}
  .image-overlay-content {padding: 15px; border-bottom: 10px solid $maroon; opacity: 1 !important; background-color: #bf463e !important; position: relative !important;}
}

// Buttons
.hero-button {}
.skewed-button {}

// Button Group

// Blockquote
blockquote {border-left: 10px solid $darker-orange;}
blockquote, blockquote p {color: #333;}

// Dividers and borders
.block-divider {display: block; width: 100%;height: 1px;}
@media only screen and (min-width: 1024px){.border-foot {border-bottom: 10px solid $darker-orange;}}

// Listing
.media-header-wrapper {float:left;}
.media-header .media-date {float: right; background-color: $dark-grey;}

// Small Listing (event)
.event-date .event-month {padding: 0; background: $dark-grey none repeat scroll 0 0;}
.event-date .event-day {padding: 0 1rem; font-size: 1.5rem; border-bottom: 1px solid #666;}

// Article

// Footer
footer {height: auto;background-color: #666; padding-top: 230px;}
footer h1, footer h2, footer h3, footer p {color: white;}
footer a {color: $dark-grey;}
@media only screen and (max-width: 1024px){
  footer {text-align: center;}
  footer ul {margin: 0;}
  footer ul li {list-style-type: none;}
}
footer ul li {color: $white;}
footer hr {margin-top: 0; border: 6px solid #ccc; opacity: 0.2;}
footer hr:hover {opacity: 1;}
@media only screen and (max-width: 1024px){footer hr{display:none;}}

@media only screen and (min-width: 1024px){footer .icon-wrapper {display: flex;  align-items:left; justify-content: left;}}

footer .media-object.stack-for-small .media-object-section img {width: initial; margin-left: auto; margin-right: auto;}

// Footer Utility Menu
.utility-menu-bottom {background-color: #333; color: #ccc;}
.utility-menu-bottom a {color: #ccc;}
.utility-menu-bottom .menu > li:not(.menu-text) > a {padding: 2rem 1rem;}
@media only screen and (max-width: 1024px){
  .utility-menu-bottom {background-color: #666; text-align: center;}
  .utility-menu-bottom .media-object {margin-bottom: 0;}
  .utility-menu-bottom .media-object-section img {display: none;}
  .utility-menu-bottom .menu, .utility-menu-bottom .menu > li {display: block;}
  .utility-menu-bottom .menu > li:not(.menu-text) > a {padding: 0;}
}


.google-map {
  opacity: 0.6;
  &:hover {opacity: 1;}
}


// *************************
// News Events
// *************************
