// *************************
// Colors
// *************************

// Theme colors

// white #ffffff
// light grey #f3f3f3
// medium grey #cccccc
// dark grey #666666
// orange #cf4520
// dark maroon #3d100e

$orange: #cf4520;
$maroon: #3d100e;
$dark-grey: #f3f3f3;

// *************************
// Typography
// *************************

// Headings and paragraphs

h1, h2, h3, h4, h5, h6 {font-family: 'Varela Round', sans-serif;}

p {font-family: 'Arimo', sans-serif; font-size: 1.1em;}


// *************************
// Padding and margin
// *************************

//Padding for search and hours
.hero-hours {
  padding: 50px 0 0 15px;
  @media only screen and (max-width: 768px){
    padding: 15px 15px 0;
  }
}
.hero-search {
  padding: 50px 65px 20px;
  @media only screen and (max-width: 768px){
      padding:15px;
  }
}

//utility margin
.margin-b {margin-bottom: 15px;}

//content margin
section {margin-bottom: 15px;}

// *************************
// Icons
// *************************

// Hero Icons
.hero-icons {
  a {
    width:70px;
    height: 70px;
    background-color: $maroon;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  a, span{
    display: flex;
    align-items:center;
    justify-content: center;
  }
  span {
    width: 60px;
    height: 60px;
    background-color: $orange;
    display: block;
    border-radius: 50%;
    &:hover {
      background-color: lighten( $orange, 10% );
    }
  }
  i {
    color: $white;
    font-size: 2.6em;
  }
  a.main-icon { //wanted to use :first-child but it is not working for me
    width: 100px;
    height: 100px;
    color: $white;
    margin-top: -15px;
    &:hover {
      background-color: darken( $maroon, 10% );
    }
    @media only screen and (max-width: 1024px){
      margin-bottom: 15px;
    }
  }
}

// Quicklink Icons
/*.link-icons {
  span.flex-icon {
    display: flex;
    align-items:center;
    justify-content: center;}
  span {
    width: 30px;
    height: 30px;
    background-color: darken( $dark-grey, 10% );
    display: block;
    border-radius: 50%;
    &:hover {
      background-color: darken( $dark-grey, 20% );
    }
    }
  i {
    color: $white;
    font-size: 1.5em;}
}*/

// Simple Icons - hours icon
.simple-icons i {
  color: map-get($foundation-palette, success);
  font-size: 3.4em;
  line-height: 0;
}
// Simple Icons - hours icon mobile
.mobile-hours i {
  color: map-get($foundation-palette, success);
  font-size: 1.5em;
}

// Icon My account
.hero-menu {
  .menu-text i {
    background-color: $orange;
    border-radius: 15px;
    padding-top: 3px;
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid #333;
  }
  //ul li.menu-text a {
    //color: $white;
  //}
}

// Icon Question mark
.icon-question {
  font-weight: bold;
  color: #333;
  font-size: 1.5em;
}

//Icon divider
.icon-divider-wrapper {
  position: relative;
  width: 100px;
  height: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}
.icon-divider {
  width: 15px;
  height: 15px;
  border: 6px solid $white;
  background-color: #ccc;
  border-radius: 50%;
  position: absolute;
  left: 43px;
  top: 0;
  z-index: 100;
}
.icon-divider-line {
  width: 100px;
  height: 2px;
  border-bottom: 2px solid $white;
  position: absolute;
  left: 0;
  top: 6px;
  z-index: 50;
}
//Icon divider grey
.icon-divider-grey {border: 6px solid #ccc; background-color: $white;}
.icon-divider-line-grey {border-bottom: 2px solid #ccc;}

//Social Icons
ul.social-icons {
  margin-left:0;
}
.social-icons {
  span {
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    width: 30px;
    height: 30px;
    background-color: darken( $dark-grey, 10% );
    display: block; border-radius: 50%;
    &.flex-icon {
      display: flex;
      align-items:center;
      justify-content: center;
    }
    &:hover {
      background-color: darken( $dark-grey, 20% );
    }
  }
  i {
    color: $off-black;
    font-size: 1.5em;
  }
  @media only screen and (max-width: 1024px){
    display: flex;
    justify-content: center;
  }
}


// Schools color logos icons

.logo-icons {
  @media only screen and (min-width: 1024px){
  span.cu, span.metro, span.community, span.ahec {
  margin-right: 20px;
  &::before, &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
  }
  }
 span.cu { // University of Colorado Denver
  &::before {
    border-top: 20px solid #cfb880;
    border-right: 20px solid transparent;
  }
  &::after {
    border-top: 20px solid transparent;
    border-right: 20px solid black;
  }
  }
 span.metro { // Metropolitan State University of Denver
  &::before {
    border-top: 20px solid #d01944;
    border-right: 20px solid transparent;
  }
  &::after {
    border-top: 20px solid transparent;
    border-right: 20px solid #1b477b;
  }
  }
 span.community { // Community College of Denver
  &::before {
    border-top: 20px solid #fbb931;
    border-right: 20px solid transparent;
  }
  &::after {
    border-top: 20px solid transparent;
    border-right: 20px solid #54277d;
  }
  }
 span.ahec { // Auraria Higher Education Center
  &::before {
    border-top: 20px solid #aed5ea;
    border-right: 20px solid transparent;
  }
  &::after {
    border-top: 20px solid transparent;
    border-right: 20px solid #137fc2;
  }
  }
  }
}


// *************************
// Menu and header banner
// *************************

// Hero menu
@media only screen and (min-width: 1024px){
  .hero-menu .top-bar, .top-bar ul {
    background-color: transparent;
  }
  .hero-menu .top-bar {
    padding: 0 0.5rem 0 0;
  }
  .hero-menu {
    border-bottom: 2px solid #ccc;
  }
}
@media only screen and (max-width: 638px){
  .menu-large {
    display: none;
  }
}
.hero-menu {
  background-color: #666;
  .title-bar {
    background-color: #ccc;
    color: #333;
    box-shadow: 0 7px 0 #333, 0 14px 0 #333;
  }
  ul li a {
    color: $white;
    font-size: 1.1em;
    font-family: 'Varela Round', sans-serif;
  }
  .menu-icon {
    &:after {
      background: #333 none repeat scroll 0 0;
    }
  }
  .menuitem {
    padding: 0.7rem 1rem;
  }
  li.menu-text > a {
    padding: 0 1rem;
  }
  .menu-text {
    padding: 0.9rem 1rem 0.5rem;
    font-weight: normal;
  }
  .is-dropdown-submenu {
    background: #666 none repeat scroll 0 0;
  }
  .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    border-color: #f3f3f3 transparent transparent;
  }
}

//Site search form
.site-search {
  input {font-size: 1em;}
  .input-group-field {height: 2rem;}
  .input-group-label {background-color: darken( $dark-grey, 30% );; color: $white; cursor: pointer; width: 30px; height: 30px; padding: 0; border-radius: 50%;}
  .input-group-label{
    &:hover {background-color: darken( $dark-grey, 40% );}
  }
  .input-group {margin-top: 12px; margin-bottom: 5px; position: relative;}
  .input-group-icon {position: absolute; right: 8px; top: 2px;}
}

// Header Banner
.header-wrapper {border-bottom: 10px solid #862723; position: relative; background: linear-gradient(to right, $white 0%,$white 50%,$white 50%,#bf463e 50%,#bf463e 100%); /* W3C */}
@media only screen and (max-width: 768px){
  .header-wrapper {display: none;}
}
.banner {
  margin-left: auto;
  margin-right: auto;
  height: 160px;
  background: url('/assets/img/deco/header-banner2.png') no-repeat center center;
  display: block;
  border-bottom: 2px solid $orange;
}
@media only screen and (max-width: 1934px){
  .banner {background-position: left center;}
}
@media only screen and (max-width: 1024px){
  .banner {background-position: -100px center;}
}

// *************************
// Search and Hours Block
// *************************

//Hero block
.hero-block {background-color: $white;}

// Hero Search form, site search form
.hero-search [type="checkbox"] + label, .hero-search [type="radio"] + label {margin-left: 0;}
.hero-search h1 {font-size: 2rem;}
.hero-search [type="text"], .hero-search [type="password"], .hero-search [type="date"], .hero-search [type="datetime"], .hero-search [type="datetime-local"], .hero-search [type="month"], .hero-search [type="week"], .hero-search [type="email"], .hero-search [type="number"], .hero-search [type="search"], .hero-search [type="tel"], .hero-search [type="time"], .hero-search [type="url"], .hero-search [type="color"], textarea{box-shadow: none; border: 1px solid #666; background-color: #f3f3f3;}
.hero-search input::placeholder, .hero-search textarea::placeholder, .site-search input::placeholder, .site-search textarea::placeholder {color: #666;}
.hero-search .input-group-label {background-color: $orange; color: $white; cursor: pointer; border: none;}
.hero-search .input-group-label:hover {background-color: darken( $orange, 10% );}

//search options and advanced search
.search-options [type="checkbox"] + label, .search-options [type="radio"] + label {margin-right: 4.3rem;}
.search-options [type="checkbox"] + label:last-child, .search-options [type="radio"] + label:last-child {margin-right: 0;}
@media only screen and (max-width: 1024px){
  .advanced-search {
    text-align: right;
  }
  .search-options [type="checkbox"] + label, .search-options [type="radio"] + label {margin-right: 1.1rem;}
}

//search menu links
.menu-secondary {
  padding:0;
  margin-top: 30px;
  border-top: 1px solid #ccc;
  h3 {font-size: 1.1em; margin-top: 3px;}
  .menu h3 a {padding: 0rem 1rem; color: #333;}
  .menu > li:first-child h3 a {padding-left: 0;}
}

//Hours
.hero-hours {
  height: 100%; position: relative;
  &:before {
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 100px solid red;
    border-left: 0 solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 100px;
  }
}
@media only screen and (min-width: 960px){
  span.mobile-hours {display:none;}
}
@media only screen and (max-width: 959px){
  .hours-desktop {display: none;}
}

//Quicklinks block
.quicklinks-block {
  h3 {font-size: 1.1em;}
  .media-object-section {float: left;}
}

// Hero Background Image
.hero-image {
    display: block;
    height: auto;
    min-height: 0;
    overflow: hidden;
    padding: 131px 0 209px;
    position: relative;
    background: url('/assets/img/hero-img.jpg') no-repeat center center / cover;
    &:before, &:after {
      background: #f3f3f3 none repeat scroll 0 0;
      content: "";
      height: 100px;
      left: -10%;
      position: absolute;
      width: 120%;
    }
    &:before {
      transform: rotate(1deg);
      top: -75px;
    }
    &:after {
      transform: rotate(-2.5deg);
      bottom: -55px;
    }
}

// Offset Block
.offset-block {margin-top: -100px;position: relative; margin-bottom: -200px;}

// Article
.main-content article {padding:50px 65px 20px; background-color: $white;}
.main-content article.alt-padding {padding: 30px 45px 20px;}
@media only screen and (max-width: 1024px){
  .main-content article, .main-content article.alt-padding {padding:20px;}
}
@media only screen and (max-width: 768px){
  .main-content article{padding:15px;}
}
article.grey-bckr {background-color: #e8e8e8;}

// Content with Diagonal Footer
.foot-wrapper {overflow: hidden;}
.foot-sm {
  	width: 0;
  	height: 0;
  	border-top: 30px solid $white;
  	border-right: 1200px solid transparent;
}
.foot-sm-top {
  	width: 0;
  	height: 0;
  	border-bottom: 30px solid $white;
  	border-right: 1200px solid transparent;
}
.foot {
  	width: 0;
  	height: 0;
  	border-top: 60px solid $white;
  	border-right: 900px solid transparent;
}

// *************************
// Core Styles
// *************************

// Body
body {background-color: #f3f3f3;}


// *************************
// Overlay image modification
// *************************


.image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: left;
  //padding: 25px 45px 20px; // trying for image alignment with search
  //background-color: #f8f8f8; // trying for image alignment with search
}

.image-overlay-content {
  background: rgba(102,102,102,0.9);
  //background-color: #666;//change color background-color: #666;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 65px 20px;
  //border-bottom: 10px solid $orange; //add
}

.overlay-fade-in {

  p {
    letter-spacing: 0.15em;
    color: $white;
    opacity: 0;
    transition: all 0.2s linear;
  }

  a {
    color: $white;
    font-weight: bold;

    &:hover {color: #ccc;}

    }

  img {
    transition: all 0.2s linear;
    //border: 1px solid #666;
  }

  .image-overlay-content {
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }

  h2 {
    color: #f2f2f2;
    font-size: 1.8rem;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    //background: rgba(0,0,0,0.7);
  }

  .button {
    background: $white;
    border: none;
    opacity: 0;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #ccc;
    }
  }

  &:hover img {
    transform: scale(1.02);
  }

  &:hover .image-overlay-content {
    opacity: 1;
  }

  &:hover h2, p, .button {
    opacity: 1;
  }

  &:hover p {
    transition-delay: 0.1s;
  }
}

//Overlay fade in mobile styling
@media only screen and (max-width: 1024px){
  .overlay-fade-in img {display: none;}
  .overlay-fade-in h2 {opacity: 1 !important;}
  .overlay-fade-in {border-radius: 0 !important;}
  .image-overlay-content {
    padding: 15px;
    border-bottom: 10px solid $orange;
    opacity: 1 !important;
    background-color: #666; //change color background-color: #bf463e !important;
    position: relative !important;}
}

// Blockquote
blockquote {border-left: 10px solid $orange;}
blockquote, blockquote p {color: #333;}

// Dividers and borders
.block-divider {display: block; width: 100%;height: 1px; margin-bottom: 2.5rem;}
@media only screen and (min-width: 1024px){
  .border-foot {border-bottom: 10px solid $orange;}
}

// Listing
.listing {
  .media-header-wrapper {float:left;}
  //.media-object img {border-left: 4px solid $orange;}
  .media-date {
    //float: right;
    //background-color: $dark-grey;
    font-size: 0.9em;
    color: #333;
    //padding: 5px;
    p {
      margin-bottom: 0;
    }
    i {
      font-style: normal;
    }
  }
}
@media only screen and (max-width: 1024px){.media-date {float: none; background-color: transparent;}}

// Small Listing (event)
.listing-event {padding-top: 10px; margin-bottom: 10px;}
@media only screen and (min-width: 1024px){.listing-event {background-color: #f8f8f8;}}
.listing-event h4.event-desc-header {font-size: 1.1rem;}
.listing-event h4.event-desc-header a {color: #333;}
.listing-event .event-date .event-month {color: #fff; padding: 0; background: #666 none repeat scroll 0 0; margin-top: 5px;}
.listing-event .event-date .event-day {padding: 0 1rem; font-size: 0.8em; border: 1px solid #666;}
.listing-event .button {padding: 0.4em 1em; color: lighten(#666, 10%); color: white;}
.listing-event .event-desc-where {line-height: 2.7;}
.listing-event .event-desc-where i {font-style: normal; color: #666;}
.listing-event .event-desc-detail {float: right;}

// Article

// Footer
footer {height: auto;background-color: #666; padding-top: 230px;}
footer h1, footer h2, footer h3, footer p {color: $white;}
footer a {color: $dark-grey;}
@media only screen and (max-width: 960px){
  footer {text-align: center;}
  footer ul {margin: 0;}
  footer ul li {list-style-type: none;}
}
footer ul li {color: $white;}
footer hr {margin-top: 0; border: 6px solid #ccc; opacity: 0.2;}
@media only screen and (max-width: 960px){
  footer hr{display:none;}
}
@media only screen and (max-width: 960px){
  footer .media-object.stack-for-small .media-object-section img {width: initial; margin-left: auto; margin-right: auto;}
}

//Footer Ask Us and Tell Us icon formatting
  footer .icon-wrapper {display: flex;  align-items:left; justify-content: left;}
  footer .icon-wrapper .media-object-section {padding-right: 5px;}
  footer .icon-wrapper .media-object {margin-right: 10px;}
@media only screen and (max-width: 960px){
  footer .icon-wrapper {justify-content: center;}
  footer .icon-wrapper .media-object-section {display: table-cell;}
  footer .icon-wrapper .media-object {display: block;}
}

// Footer Utility Menu
.utility-menu-bottom {background-color: #333; color: #ccc;}
.utility-menu-bottom a {color: #ccc;}
.utility-menu-bottom .menu > li:not(.menu-text) > a {padding: 2rem 1rem;}
@media only screen and (max-width: 960px){
  .utility-menu-bottom {background-color: #666; text-align: center;}
  .utility-menu-bottom .media-object {margin-bottom: 0;}
  .utility-menu-bottom .media-object-section img {display: none;}
  .utility-menu-bottom .menu, .utility-menu-bottom .menu > li {display: block;}
  .utility-menu-bottom .menu > li:not(.menu-text) > a {padding: 0;}
}

.google-map {
  opacity: 0.6;
  &:hover {opacity: 1;}
}


// *************************
// News Events
// *************************
