//nwstyle

/////////////////////////////////////////////////
//Global variables                   //
/////////////////////////////////////////////////
$circle:50%;
$small-font-size:80%;
$text-position:center;



/////////////////////////////////////////////////
//top flydown menu style                       //
/////////////////////////////////////////////////

.sitemapmenu{
  font-size: $small-font-size;
  margin-left:0;
  li {
    list-style-type: none;
    padding: 0;
  }
}
.hide-first{
  display: none;
}
/////////////////////////////////////////////////
//circle                    //
/////////////////////////////////////////////////
.image-circle{
@include border-radius($circle);
//padding: 10%;
filter: grayscale(100%);
width: 5%;
height: 5%;
}

/////////////////////////////////////////////////
//hero                  //
/////////////////////////////////////////////////
.hero {
  background:url('/assets/img/deco/al.jpg') no-repeat center center;
  background-size: cover;
  height: 80vh;
  margin-bottom: 3rem;
}
/////////////////////////////////////////////////
//Landing                                      //
/////////////////////////////////////////////////

.textposition {
  text-align: $text-position;
}
/////////////////////////////////////////////////
//round corner for button                      //
/////////////////////////////////////////////////

.roundedge {
  border-radius: 50%;
}

// badge




