/////////////////////////////////////////////
// Variables - will be replaced by Neena's style variables
/////////////////////////////////////////////

$mainSpacing: 2rem;
$secondarySpacing: 1.5rem;
$transparentBlack: rgba(102, 102, 102, 0.9);

//@mixin negative-effect {
//  color: $white;
//  background-color: $transparentBlack;
//}

/////////////////////////////////////////////
// News and Events landing page
/////////////////////////////////////////////

// News and Events landing page has three main sections

// Main
.main-ne {
}
//slide up and down effect toggle - styling only - later adopt from neena's
.highlight {
 margin-bottom: $mainSpacing;
}
.highlight-inner {
 background-color: $transparentBlack;
 color: $white;
 padding: $secondarySpacing;
 h1 {
   color: $white;
 }
 & p:first-child {
   margin-bottom: $mainSpacing;
 }
 a {
   color: $white;
 }
 //end - slide up and down effect toggle - styling only
}

// Future Concepts
.future-concepts-ne {

}

// slide up and down effect toggle - reusable functionality only
.highlight {
  position: relative;
  width: 100%;
  overflow: hidden;
  .highlight-inner {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 105px;
    transition:all 0.5s;
    //@media screen and (max-width: 1024px) {
    //  position: relative;
    //  height: auto;
    //}
  }
  .slide-action {
    height: 100%;
  }
}

//Rounded thumbnail

.rounded-thumbnail {
  @include thumbnail;
  border-radius: 50%;
}

/////////////////////////////////////////////
// News and Events landing page end
/////////////////////////////////////////////

/////////////////////////////////////////////
// Listing page
/////////////////////////////////////////////



/////////////////////////////////////////////
// Listing page end
/////////////////////////////////////////////
