//See settings.scss for change on line 182 for $lead-font-size

//New variables to add
$font-family-serif: 'Vollkorn', serif;

/////////////////////////////////////////////////////////
//Mixins
/////////////////////////////////////////////////////////

//New Mixins to add
@mixin serif-header ($text-font, $text-size, $text-padding) {
        font-family: $text-font;
        font-size: $text-size;
        padding: $text-padding;
}
@mixin round-thumbnail ($rnd-thumbnail-radius, $rnd-thumbnail-border) {
        border-radius: $rnd-thumbnail-radius;
        border: $rnd-thumbnail-border;
}

@mixin thick-underline ($underline-thickness) {
  border-bottom: $underline-thickness;
}

/////////////////////////////////////////////////////////
//This section: can be used independently throughout site
/////////////////////////////////////////////////////////

//serif header
.serif-header {
  @include serif-header($font-family-serif, 2em, 2rem); //changed font size from 2.5
}
//Thick title underline
.thick-underline {
  @include thick-underline (27px solid $light-gray);
}
//round thumbnail
.round-thumbnail {
  @include round-thumbnail(50%, 5px solid $brand-accent);
}

//intro paragraph big lead text to be used with .lead class - see change in settings for lead text size
.inner-lead-text {
    padding-bottom: $big-padding;
    padding-top: $big-padding;
    color: $dark-gray;
    @include breakpoint (medium down) {
        padding: $big-padding;
    }
}
//big corner - bottom
.big-corner-wrapper {
    overflow: hidden;
}
.big-corner-bottom {
    border-top: 60px solid $white;
    border-left: 1200px solid transparent;
    height: 0;
    width: 0;
}
.big-corner-top {
    border-bottom: 60px solid $white;
    border-left: 1200px solid transparent;
    height: 0;
    width: 0;
}

/////////////////////////////////////////////////////////
//This section: styles for generic information pages
/////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////
// New classes have been added for generic information pages:
// 1. .inner-banner - banner for generic page
// 2. .thumbnail-offset - styles round icon
// 3. .main-wrapper - offsetts main content block against banner and footer
// 4. .main-content - wraps around and styles text block of page content
// 5. .inner-sidebar - styles sidebar on mobile (with border left)
// 6. .content-height - minimum height for pages
// 7. .content-bordered-wrapper - adds "hours" style border to content block (doesnt include sidebar)
// 8. .content-paragraph-block - styles headings in content
/////////////////////////////////////////////////////////

//Inner banner
.inner-banner {
    background-color: $medium-gray;
    padding: 0 0 11rem;
    border-bottom: 5px solid $white;
    @media only screen and (max-width: 768px) {
        padding: 0 0 8rem;
    }
}

//Round thumbnail icon spacing
.thumbnail-offset {
    margin-top: 10px;
    @include breakpoint (medium down) {
        margin-top: $big-padding;
        margin-left: $big-padding;
    }
}

//All inner page styles need to be wrapped in .main-wrapper class
.main-wrapper {
    //main wrapper margins
    margin-top: -172px;
    margin-bottom: -200px;
    position: relative;
    @include breakpoint (medium down) {
        margin-top: 0;
    }
    //main content padding, background, and border
    .main-content {
        @include breakpoint (medium down) {
            padding: 0;
        }
        background-color: $white;
        padding: $big-padding;
    }
    //sidebar
    .inner-sidebar {
        @include breakpoint (medium down) {
            border-left: $global-padding solid $brand-accent;
            padding-bottom: $big-padding;
            padding-left: $big-padding;
        }
    }
    .content-height {
        min-height: 500px; //min height for cases when too little content - desktop
        @include breakpoint (medium up) {
            min-height: 750px; //min height for cases when too little content - desktop
        }
    }
    .content-bordered-wrapper {
        @include breakpoint (medium down) {
            border-left: $global-padding solid $brand-accent;
        }
        padding-left: $big-padding;
        border-left: $block-border-accent;
    }
    .content-paragraph-block {
        padding-bottom: $global-padding;
        border-top: $deco-border;
        padding-top: $big-padding;
    }
}

/////////////////////////////////////////////////////////
//Related block styling
/////////////////////////////////////////////////////////

.content-height-related {
  min-height: 450px; //for pages that have related content
}
.related-block {
   //spacing
  padding: $big-padding $big-padding 0;
  @include breakpoint (medium up) {
    margin-top: $big-padding;
  }
  //background color on mobile
  @include breakpoint (small down) {
    background-color: $light-gray;
  }
  //soften color of bullet points
  li {
    color: $off-black;
  }
}

/////////////////////////////////////////////////////////
//Sidebar Promo
/////////////////////////////////////////////////////////

.promo {
  padding: $big-padding;
  background-color: $light-gray;
}

/////////////////////////////////////////////////////////
//List
/////////////////////////////////////////////////////////
.list-content {
  .content-bordered-wrapper {
      @include breakpoint (medium down) {
          border-left: $global-padding solid $brand-accent;
      }
      border-left: none;
  }
}
.gen-list-item {
  padding-bottom: $global-padding;
  border-top: $deco-border;
  padding-top: $big-padding;
  .list-image-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .list-info {
    color:$dark-gray;
  }
}

/////////////////////////////////////////////////////////
// Inner intro block
/////////////////////////////////////////////////////////

.intro-block {
  .big-corner-top {
    border-bottom: 60px solid $white;
  }
  .intro-block-body {
    border-bottom: 30px solid darken($light-gray, 4%);
  }
}

/////////////////////////////////////////////////////////
// Hours Header
/////////////////////////////////////////////////////////

.info-top {
  border-top: 1px solid $light-gray;
  background-color: $footer-main-color;
  color: $white;
  p {
    margin-bottom: 0.3rem;
  }
}

/////////////////////////////////////////////////////////
//News/Events, Featured - fancy layout
/////////////////////////////////////////////////////////

//Inner banner diagonal
.diagonal-banner {
  display: block;
  height: auto;
  min-height: 0;
  overflow: hidden;
  padding:0 0 20rem;
  position: relative;
  background-color: $medium-gray;
  &:before, &:after {
    background: $body-background none repeat scroll 0 0;
    content: "";
    height: 180px;
    position: absolute;
    width: 120%;
  }
  &:before {
    top: -180px;
  }
  &:after {
    transform: rotate(3deg);
    bottom: -75px;
  }
}
//sections of fancy layout layout
.main-top {
  margin-top: -270px;
  margin-bottom: $global-padding;
  @include breakpoint (medium down) {
    margin-top: 0;
    margin-bottom: 0;
  }
  .content-bordered-wrapper {
    @include breakpoint (medium up) {
      padding-left: $global-padding;
      border-left: none;
    }
  }
}
.main-bottom {
  margin-top: -150px;
}

// Main featured story
.featured {
  padding-bottom: $big-padding;
  @include breakpoint (medium down) {
    padding-bottom: $global-padding;
  }
  .featured-wrapper {
    position: relative;
    .featured-headline {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 70%;
      padding:$big-padding;
      background-color: rgba(255, 255, 255, 0.9);
      border-bottom: $block-border-accent;
      @include breakpoint (medium down) {
        width: 100%;
        position: relative;
        background-color: $light-gray;
      }
      p {
        color: $dark-gray;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .button {
        margin: 0;
      }
    }
  }
}
//News Events Categories Section
.categories {
  background: rgba(0, 0, 0, 0) url("/assets/img/inner-pages/news-events-bckgr.jpg") no-repeat scroll center 55% / cover ;
  .main-icon{
    span{
    margin-left: auto;
    margin-right:auto;
    }
    @include alw-circle(7rem, $brand-accent, $dark-gray);
    font-size: 1.3rem;
    margin-bottom: $global-padding;
  }
}
//mid section: featured and Did you know?
.featured-headline-gray {
  position: relative;
  background-color: $light-gray;
  @include breakpoint (small down) {
    margin-bottom: $global-padding;
    background-color: transparent;
  }
  h3 {
    color: $dark-gray;
  }
  p {
    font-size: 95%;
    letter-spacing: 0.1em;
  }
  .featured-headline-image {
    padding:$global-padding $global-padding $global-padding 0;
  }
  .featured-headline-text {
    padding:$big-padding $global-padding $global-padding 0;
    @include breakpoint (medium down) {
      background-color: $light-gray;
      padding: $big-padding;
    }
    .button {
      margin: 0;
    }
  }
}
.featured-headline-title {
  @include breakpoint (medium down) {
    // background-color: $light-gray;
    padding-top: $global-padding;
    // padding-bottom: 0.5rem;
    // border-bottom: 1px solid $brand-accent;
  }
}
.info-box {
  border-left: 5px solid $brand-accent;
  padding:$big-padding;
  background: $brand-blue-dark;
  a {
    font-weight: bold;
    color: $light-gray;
  }
  h1, h2, h3, h4 {
    font-weight: bold;
  }
  h1, h2, h3, h4, li, p {
    color: $white;
  }
  p {
    font-size: 95%;
    letter-spacing: 0.1em;
  }
}
.block-separator {
  padding-top: $big-padding;
  @include breakpoint(medium down) {
    padding-top: $global-padding;
  }
  .round-thumbnail {
    border: 5px solid $dark-gray;
  }
  .serif-header {
    font-size: 1.5rem;
    padding-left: 0;
  }
}
//New Materials list block
.block-headline {
  background-color: $light-gray;
  border-bottom: 5px solid $white;
  padding: 0.3rem $global-padding;
  h1, h2, h3, h4 {
    margin-bottom: 0;
  }
  ul {
    list-style-type: square;
    color: $dark-gray;
  }
  ul li:last-child, ul li:last-child a {
    color: $brand-accent;
  }
}

//News and events listings
.event-listing, .news-listing {
  border-top: 1px solid #f3f3f3;
  padding-top: $big-padding;
  padding-bottom: $big-padding;
  &:last-child {
    padding-bottom: 0;
  }
  a, a:visited {
    color: $black;
    &:hover {
      color: $dark-gray;
    }
  }
  h4 {
    margin-bottom: 0;
  }
  .badge {
    font-size: 0.7rem;
    background-color: $brand-blue-dark;
  }
  .listing-category {
    color: $brand-accent;
  }
}
//Event listing calendar icon
.event-listing {
  .event-date {
    margin: 0 auto $global-padding;
    width: auto;
   .event-month {
     margin: 0;
     background: $light-gray;
     padding: $small-padding;
     text-align: center;
    }
    .event-day {
      margin: 0;
      border: 1px solid $light-gray;
      padding: 0.6rem $global-padding;
      text-align: center;
    }
  }
  .event-desc-info {
    font-weight: bold;
  }
}
//staff news listings - simple list. Wrap simple-news-list around divs that have .news-listing class
.simple-news-list .news-listing {
  h1:first-child, h2:first-child, h3:first-child, h4:first-child {
    margin-top: $global-padding;
  }
}
