//See settings.scss for change on line 182 for $lead-font-size

//New variables to add
$font-family-serif: 'Vollkorn', serif;

/////////////////////////////////////////////////////////
//Mixins
/////////////////////////////////////////////////////////

//New Mixins to add
@mixin serif-header ($text-font, $text-size, $text-padding, $text-border) {
        font-family: $text-font;
        font-size: $text-size;
        padding: $text-padding;
        border-bottom: $text-border;
}
@mixin round-thumbnail ($rnd-thumbnail-radius, $rnd-thumbnail-border) {
        border-radius: $rnd-thumbnail-radius;
        border: $rnd-thumbnail-border;
}

/////////////////////////////////////////////////////////
//This section: can be used independently throughout site
/////////////////////////////////////////////////////////

//serif header
.serif-header {
  @include serif-header($font-family-serif, 2.5em, 2rem, 27px solid $light-gray);
}
//round thumbnail
.round-thumbnail {
  @include round-thumbnail(50%, 5px solid $brand-accent);
}
//Round thumbnail icon spacing
.thumbnail-offset {
    margin-top: 10px;
    @include breakpoint (medium down) {
        margin-top: $big-padding;
        margin-left: $big-padding;
    }
}
//intro paragraph big lead text to be used with .lead class - see change in settings for lead text size
.inner-lead-text {
    padding-bottom: $big-padding;
    padding-top: $big-padding;
    color: $dark-gray;
    @include breakpoint (medium down) {
        padding: $big-padding;
    }
}
//big corner - bottom
.big-corner-wrapper {
    overflow: hidden;
}
.big-corner-bottom {
    border-top: 60px solid $white;
    border-left: 1200px solid transparent;
    height: 0;
    width: 0;
}
.big-corner-top {
    border-bottom: 60px solid $white;
    border-left: 1200px solid transparent;
    height: 0;
    width: 0;
}

/////////////////////////////////////////////////////////
//This section: styles for generic information pages
/////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////
// New classes have been added for generic information pages:
// 1. .inner-banner - banner for generic page
// 2. .main-wrapper - offsetts main content block against banner and footer
// 3. .main-content - wraps around and styles text block of page content
// 4. .inner-sidebar - styles sidebar on mobile (with border left)
// 5. .content-bordered-wrapper - adds "hours" style border to content block (doesnt include sidebar)
// 6. .content-paragraph-block - styles headings in content
/////////////////////////////////////////////////////////

//Inner banner
.inner-banner {
    background-color: $medium-gray;
    padding: 0 0 11rem;
    border-bottom: 5px solid $white;
    @media only screen and (max-width: 768px) {
        padding: 0 0 8rem;
    }
}

//Inner banner diagonal
// .inner-banner-diagonal {
//   border-bottom: none;
// }

//Image divider
// .image-divider {
//     display: block;
//     height: auto;
//     padding:1rem 0 8rem;
//     position: relative;
//     background: url(/assets/img/inner-pages/temp-image.jpg) no-repeat center 70% / cover;
// }

//All inner page styles need to be wrapped in .main-wrapper class
.main-wrapper {
    //main wrapper margins
    margin-top: -172px;
    margin-bottom: -200px;
    position: relative;
    @include breakpoint (medium down) {
        margin-top: 0;
    }
    //main content padding, background, and border
    .main-content {
        @include breakpoint (medium down) {
            padding: 0;
        }
        background-color: $white;
        padding: $big-padding;
    }
    //sidebar
    .inner-sidebar {
        @include breakpoint (medium down) {
            border-left: $global-padding solid $brand-accent;
            padding-bottom: $big-padding;
            padding-left: $big-padding;
        }
    }
    //content
    .content-bordered-wrapper {
        @include breakpoint (medium down) {
            border-left: $global-padding solid $brand-accent;
        }
        @include breakpoint (medium up) {
            min-height: 750px; //min height for cases when too little content - desktop
        }
        padding-left: $big-padding;
        border-left: $block-border-accent;
        min-height: 500px; //min height for cases when too little content - desktop
    }
    .content-paragraph-block {
        padding-bottom: $global-padding;
        border-top: $deco-border;
        padding-top: $big-padding;
    }
}

/////////////////////////////////////////////////////////
//List
/////////////////////////////////////////////////////////

.list-item {
  padding-bottom: $global-padding;
  border-top: $deco-border;
  padding-top: $big-padding;
  .list-image-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .list-info {
    color:$dark-gray;
  }
}
