//See settings.scss for change on line 182 for $lead-font-size

//New variables to add
$font-family-serif: 'Vollkorn', serif;

/////////////////////////////////////////////////////////
//Mixins
/////////////////////////////////////////////////////////

//New Mixins to add
@mixin serif-header ($text-font, $text-size, $text-padding) {
        font-family: $text-font;
        font-size: $text-size;
        padding: $text-padding;
}
@mixin round-thumbnail ($rnd-thumbnail-radius, $rnd-thumbnail-border) {
        border-radius: $rnd-thumbnail-radius;
        border: $rnd-thumbnail-border;
}

@mixin thick-underline ($underline-thickness) {
  border-bottom: $underline-thickness;
}

/////////////////////////////////////////////////////////
//This section: can be used independently throughout site
/////////////////////////////////////////////////////////

//serif header
.serif-header {
  @include serif-header($font-family-serif, 2em, 2rem); //changed font size from 2.5
}
//Thick title underline
.thick-underline {
  @include thick-underline (27px solid $light-gray);
}
//round thumbnail
.round-thumbnail {
  @include round-thumbnail(50%, 5px solid $brand-accent);
}

//intro paragraph big lead text to be used with .lead class - see change in settings for lead text size
.inner-lead-text {
    padding-bottom: $big-padding;
    padding-top: $big-padding;
    color: $dark-gray;
    @include breakpoint (medium down) {
        padding: $big-padding;
    }
}
//big corner - bottom
.big-corner-wrapper {
    overflow: hidden;
}
.big-corner-bottom {
    border-top: 60px solid $white;
    border-left: 1200px solid transparent;
    height: 0;
    width: 0;
}
.big-corner-top {
    border-bottom: 60px solid $white;
    border-left: 1200px solid transparent;
    height: 0;
    width: 0;
}

/////////////////////////////////////////////////////////
//This section: styles for generic information pages
/////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////
// New classes have been added for generic information pages:
// 1. .inner-banner - banner for generic page
// 2. .thumbnail-offset - styles round icon
// 3. .main-wrapper - offsetts main content block against banner and footer
// 4. .main-content - wraps around and styles text block of page content
// 5. .inner-sidebar - styles sidebar on mobile (with border left)
// 6. .content-height - minimum height for pages
// 7. .content-bordered-wrapper - adds "hours" style border to content block (doesnt include sidebar)
// 8. .content-paragraph-block - styles headings in content
/////////////////////////////////////////////////////////

//Inner banner
.inner-banner {
    background-color: $medium-gray;
    padding: 0 0 11rem;
    border-bottom: 5px solid $white;
    @media only screen and (max-width: 768px) {
        padding: 0 0 8rem;
    }
}

//Round thumbnail icon spacing
.thumbnail-offset {
    margin-top: 10px;
    @include breakpoint (medium down) {
        margin-top: $big-padding;
        margin-left: $big-padding;
    }
}

//All inner page styles need to be wrapped in .main-wrapper class
.main-wrapper {
    //main wrapper margins
    margin-top: -172px;
    margin-bottom: -200px;
    position: relative;
    @include breakpoint (medium down) {
        margin-top: 0;
    }
    //main content padding, background, and border
    .main-content {
        @include breakpoint (medium down) {
            padding: 0;
        }
        background-color: $white;
        padding: $big-padding;
    }
    //sidebar
    .inner-sidebar {
        @include breakpoint (medium down) {
            border-left: $global-padding solid $brand-accent;
            padding-bottom: $big-padding;
            padding-left: $big-padding;
        }
    }
    .content-height {
        min-height: 500px; //min height for cases when too little content - desktop
        @include breakpoint (medium up) {
            min-height: 750px; //min height for cases when too little content - desktop
        }
    }
    .content-bordered-wrapper {
        @include breakpoint (medium down) {
            border-left: $global-padding solid $brand-accent;
        }
        padding-left: $big-padding;
        border-left: $block-border-accent;
    }
    .content-paragraph-block {
        padding-bottom: $global-padding;
        border-top: $deco-border;
        padding-top: $big-padding;
    }
}

/////////////////////////////////////////////////////////
//Related block styling
/////////////////////////////////////////////////////////

.content-height-related {
  min-height: 450px; //for pages that have related content
}
.related-block {
   //spacing
  padding: $big-padding $big-padding 0;
  @include breakpoint (medium up) {
    margin-top: $big-padding;
  }
  //background color on mobile
  @include breakpoint (small down) {
    background-color: $light-gray;
  }
  //soften color of bullet points
  li {
    color: $off-black;
  }
}

/////////////////////////////////////////////////////////
//Sidebar Promo
/////////////////////////////////////////////////////////

.promo {
  padding: $big-padding;
  background-color: $light-gray;
}

/////////////////////////////////////////////////////////
//List
/////////////////////////////////////////////////////////
.list-content {
  .content-bordered-wrapper {
      @include breakpoint (medium down) {
          border-left: $global-padding solid $brand-accent;
      }
      border-left: none;
  }
}
.gen-list-item {
  padding-bottom: $global-padding;
  border-top: $deco-border;
  padding-top: $big-padding;
  .list-image-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .list-info {
    color:$dark-gray;
  }
}

/////////////////////////////////////////////////////////
// Inner intro block
/////////////////////////////////////////////////////////

.intro-block {
  .big-corner-top {
    border-bottom: 60px solid $white;
  }
  .intro-block-body {
    border-bottom: 30px solid darken($light-gray, 4%);
  }
}

/////////////////////////////////////////////////////////
// Hours Header
/////////////////////////////////////////////////////////

.info-top {
  border-top: 1px solid $light-gray;
  background-color: $footer-main-color;
  color: $white;
  p {
    margin-bottom: 0.3rem;
  }
}

/////////////////////////////////////////////////////////
//News/Events
/////////////////////////////////////////////////////////

//Inner banner diagonal
.diagonal-banner {
  display: block;
  height: auto;
  min-height: 0;
  overflow: hidden;
  padding:0 0 20rem;
  position: relative;
  background-color: $medium-gray;
  &:before, &:after {
    background: $body-background none repeat scroll 0 0;
    content: "";
    height: 180px;
    position: absolute;
    width: 120%;
  }
  &:before {
    top: -180px;
  }
  &:after {
    transform: rotate(3deg);
    bottom: -75px;
  }
}
//sections of fancy layout layout
.main-top {
  margin-top: -270px;
  margin-bottom: $global-padding;
  @include breakpoint (medium down) {
    margin-top: 0;
    margin-bottom: 0;
  }
  .content-bordered-wrapper {
    @include breakpoint (medium up) {
      padding-left: $global-padding;
      border-left: none;
    }
  }
}
.main-bottom {
  margin-top: -150px;
}

// Main featured story
.featured {
  padding-bottom: $big-padding;
  @include breakpoint (medium down) {
    padding-bottom: $global-padding;
  }
  .featured-wrapper {
    position: relative;
    .featured-headline {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 70%;
      padding:$big-padding;
      background-color: rgba(255, 255, 255, 0.9);
      border-bottom: $block-border-accent;
      @include breakpoint (medium down) {
        width: 100%;
        position: relative;
        background-color: $light-gray;
      }
      p {
        color: $dark-gray;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .button {
        margin: 0;
      }
    }
  }
}
//News Events Categories Section
.categories {
  background: rgba(0, 0, 0, 0) url("/assets/img/inner-pages/news-events-bckgr.jpg") no-repeat scroll center 55% / cover ;
  .main-icon{
    span{
    margin-left: auto;
    margin-right:auto;
    }
    @include alw-circle(7rem, $brand-accent, $dark-gray);
    font-size: 1.3rem;
    margin-bottom: $global-padding;
  }
}

//mid section: featured and Did you know?
.featured-headline-gray {
  position: relative;
  background-color: $light-gray;
  @include breakpoint (small down) {
    margin-bottom: $global-padding;
    background-color: transparent;
  }
  h3 {
    color: $dark-gray;
  }
  p {
    font-size: 95%;
    letter-spacing: 0.1em;
  }
  .featured-headline-image {
    padding:$global-padding $global-padding $global-padding 0;
  }
  .featured-headline-text {
    padding:$big-padding $global-padding $global-padding 0;
    @include breakpoint (medium down) {
      background-color: $light-gray;
      padding: $big-padding;
    }
    .button {
      margin: 0;
    }
  }
}
.featured-headline-title {
  @include breakpoint (medium down) {
    // background-color: $light-gray;
    padding-top: $global-padding;
    // padding-bottom: 0.5rem;
    // border-bottom: 1px solid $brand-accent;
  }
}
.info-box {
  border-left: 5px solid $brand-accent;
  padding:$big-padding;
  background: $brand-blue-dark;
  a {
    font-weight: bold;
    color: $light-gray;
  }
  h1, h2, h3, h4 {
    font-weight: bold;
  }
  h1, h2, h3, h4, li, p {
    color: $white;
  }
  p {
    font-size: 95%;
    letter-spacing: 0.1em;
  }
}
.block-separator {
  padding-top: $big-padding;
  @include breakpoint(medium down) {
    padding-top: $global-padding;
  }
  .round-thumbnail {
    border: 5px solid $dark-gray;
  }
  .serif-header {
    font-size: 1.5rem;
    padding-left: 0;
  }
}
//New Materials list block
.block-headline {
  background-color: $light-gray;
  border-bottom: 5px solid $white;
  padding: 0.3rem $global-padding;
  h1, h2, h3, h4 {
    margin-bottom: 0;
  }
  ul {
    list-style-type: square;
    color: $dark-gray;
  }
  ul li:last-child, ul li:last-child a {
    color: $brand-accent;
  }
}

//News and events listings
.event-listing, .news-listing {
  border-top: 1px solid #f3f3f3;
  padding-top: $big-padding;
  padding-bottom: $big-padding;
  &:last-child {
    padding-bottom: 0;
  }
  a, a:visited {
    color: $black;
    &:hover {
      color: $dark-gray;
    }
  }
  h4 {
    margin-bottom: 0;
  }
  .badge {
    font-size: 0.7rem;
    background-color: $brand-blue-dark;
  }
  .listing-category {
    color: $brand-accent;
  }
}
//Event listing calendar icon
.event-listing {
  .event-date {
    margin: 0 auto $global-padding;
    width: auto;
   .event-month {
     margin: 0;
     background: $light-gray;
     padding: $small-padding;
     text-align: center;
    }
    .event-day {
      margin: 0;
      border: 1px solid $light-gray;
      padding: 0.6rem $global-padding;
      text-align: center;
    }
  }
  .event-desc-info {
    font-weight: bold;
  }
}
//staff news listings - simple list. Wrap simple-news-list around divs that have .news-listing class
.simple-news-list .news-listing {
  h1:first-child, h2:first-child, h3:first-child, h4:first-child {
    margin-top: $global-padding;
  }
}
//News Events Categories Section - alternative color background
// .categories-v2 {
//   background-color: $medium-gray;
//   background-image: none;
//   .albadge-bckg-1 {
//     background: rgba(0, 0, 0, 0.5) url("/assets/img/inner-pages/thumb1.jpg") no-repeat scroll center 40% / cover ;
//   }
//   .albadge-bckg-2 {
//     background: rgba(0, 0, 0, 0) url("/assets/img/inner-pages/thumb2.jpg") no-repeat scroll center 40% / cover ;
//   }
//   .albadge-bckg-3 {
//     background: rgba(0, 0, 0, 0) url("/assets/img/inner-pages/thumb3.jpg") no-repeat scroll center 40% / cover ;
//   }
//   .albadge-bckg-4 {
//     background: rgba(0, 0, 0, 0) url("/assets/img/inner-pages/thumb4.jpg") no-repeat scroll center 40% / cover ;
//   }
//   .main-icon{
//     @include alw-circle(7rem, $brand-accent, $dark-gray);
//     font-size: 1.3rem;
//     margin-bottom: $global-padding;
//     text-shadow: -1px 2px $black;
//     font-weight: bold;
//   }
// }
/////////////////////////////////////////////////////////
//Featured v1
/////////////////////////////////////////////////////////

.img-backgr-wrapper {
    background: rgba(0, 0, 0, 0) url("/assets/img/inner-pages/news-events-bckgr.jpg") no-repeat scroll center 40% / cover ;
    height: 300px;
    margin-bottom: -100px;
  .big-headline {
    padding-top: $big-padding;
    h1 {
      font-weight: bold;
      color: #006699;
      font-size: 3em;
    }
    .lead {
      color: $white;
      font-weight: bold;
      text-shadow: 1px 1px $dark-gray;
    }
  }
}
.intro-content {
  padding: 4rem 3rem $global-padding;
  @include breakpoint(medium down) {
    padding: 0;
  }
  background-color: $white;
  img {
    margin-top: -100px;
    border: 5px solid $white;
    @include breakpoint(medium down) {
      margin-top: 0;
    }
  }
}
.general-content {
  padding: 0 3rem $big-padding;
  @include breakpoint(medium down) {
    padding: 0;
  }
  background-color: $white;
}

.general-content-bordered {
  border-bottom: 5px solid $dark-gray;
  padding: 4rem 3rem $global-padding;
  @include breakpoint(medium down) {
    padding: 0;
  }
  background-color: $white;
}
.quote-banner {
  display: block;
  height: auto;
  min-height: 0;
  overflow: hidden;
  padding:0 0 10rem;
  @include breakpoint(medium down) {
    padding: 0;
  }
  position: relative;
  background: rgba(0, 0, 0, 0) url("/assets/img/inner-pages/cover.jpg") no-repeat scroll center 55% / cover ;
  margin-bottom: -100px;
  color: $white;
  .lead {
    font-family: $font-family-serif;
  }
  .quote-banner-inner {
    margin-top: 7%;
  }
}

.list-box {
  padding: $big-padding;
  @include breakpoint(medium down) {
    padding: 0;
  }
  border-top: 30px solid $medium-gray;
  border-bottom: 30px solid $medium-gray;
  h1, h2, h3, h4 {
    font-weight: bold;
  }
  p {
    font-size: 95%;
    letter-spacing: 0.1em;
  }
}

/////////////////////////////////////////////////////////
//Featured v2
/////////////////////////////////////////////////////////

//Featured banner - image and title
.featured-content {
  padding: 7rem $big-padding 3rem;
  background-color: $white;
  // Headline styled over featured banner
  .featured-wrapper {
    position: relative;
    .featured-headline {
      position: absolute;
      top: 0;
      left: 0;
      width: 40%;
      padding:$global-padding $big-padding;
      background-color: rgba(255, 255, 255, 0.9);
      border-top: $block-border-accent;
      @include breakpoint (medium down) {
        width: 100%;
        position: relative;
        background-color: $light-gray;
        border-top: none;
        border-left: 5px solid $brand-accent;
      }
      p {
        color: $dark-gray;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .button {
        margin: 0;
      }
    }
  }
  // Intro paragraph(s)
  .featured-intro {
    padding: $big-padding 0;
    border-bottom: 1px solid $light-gray;
    p {
      color: #666;
    }
  }
}

//Featured slider styles
.featured-slider {
  min-height: 400px;
  img {
    padding: 0.5rem $big-padding 0.5rem 0;
    width: 100%; //remove this and use Drupal resize
    height: 400px; //remove this and use Drupal resize
  }
  h2 {
    color: $brand-accent;
  }
  p {
    line-height: 2;
  }
  .orbit-container {
    overflow: visible;
  }
  .orbit-bullets {
    border-top: 1px solid $brand-accent;
    margin-top: $global-padding;
    padding-top: 0.5rem;
  }
  .orbit-bullets button {
    background-color: $medium-gray;
    width: 0.7rem;
    height: 0.7rem;
  }
  .orbit-bullets button.is-active {
  	background-color: $brand-accent;
  }
  .orbit-previous, .orbit-next {
    padding: 0.5em;
    color: $medium-gray;
    bottom: -70px;
    top: initial;
    @include breakpoint(medium down) {
      // bottom: -95px;
      // font-size: $big-padding;
    }
  }
}

//New materials slider styles
.new-materials-slider {
  // min-height: 300px;
  padding: 0 $big-padding $big-padding;
  @include breakpoint(medium down) {
    padding: 0;
  }
  img {
    width: 65%;
    height: auto;
  }
  h4 {
    padding-top: 3rem;
    padding-left: 3rem;
    color: $brand-accent;
    font-weight: bold;
  }
  p {
    font-style: italic;
    padding-left: $big-padding;
  }
  .orbit-container {
    overflow: visible;
    @include breakpoint(medium down) {
      text-align: center;
    }
  }
  .orbit-bullets {
    margin-top: $big-padding;
  }
  .orbit-bullets button {
    background-color: $medium-gray;
    width: 0.7rem;
    height: 0.7rem;
  }
  .orbit-bullets button.is-active {
  	background-color: $brand-accent;
  }
  .orbit-previous, .orbit-next {
    padding: 0.5em;
    color: $brand-accent;
    // @include breakpoint(medium down) {
    //   font-size: $big-padding;
    // }
  }
}

//Style sidebar video box
.aside-box {
  @include breakpoint(medium down) {
    border-top: 1px solid $light-gray;
    padding-top: 4rem;
  }
  img {
    padding-bottom: $big-padding;
  }
  h3 {
    font-weight: bold;
    color: $dark-gray;
    padding-left: 10px;
    border-left: 5px solid $light-gray;
  }
  p {
    padding: $global-padding $big-padding 0;
    letter-spacing: 0.1em;
  }
  p:last-child {
    padding: 0 0.5rem;
  }
  .button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

//Middle content block
.mid-content-block {
  background-color: $white;
  padding: $global-padding $global-padding $big-padding;
  h2 {
    font-size: 1.5rem;
  }
}

//Bottom content blocks
.bottom-content-block {
  background-color: $white;
  padding: $global-padding $global-padding 6rem;
  h2 {
    border-bottom: 1px solid $light-gray;
    margin-bottom: $global-padding;
    padding-bottom: 0.5rem;
  }
  .button {
  margin-bottom: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
  //Dropcap layout from building blocks
  .cap-wrapper {
    float: left;
  }
  .dropcap {
    display: block;
    float: left;
    font-size: 4rem;
    line-height: 6rem;
    margin: 0.25rem 0.5rem 0 0;
    text-align: center;
    width: 4rem;
    color: $white;
  }
  .dropcap-white {
  	@extend .dropcap;
    color: $white;
  }
}

// Numbered horizontal cards
.list-block {
  background: $light-gray none repeat scroll 0 0;
  padding: $big-padding;
  color: $black;
  margin-bottom: $big-padding;
  h1, h2, h3, h4 {
    font-weight: bold;
    color: $brand-accent;
  }
  p {
    letter-spacing: 0.1em;
    font-size: 90%;
  }
}

.explore-new {
  p {
    letter-spacing: 0.1em;
    font-size: 90%;
    margin-bottom: $big-padding;
  }
  .button {
    background-color: $black;
  }
  .button:hover {
    background-color: $brand-accent;
  }
}

.flat-icon {
  @include breakpoint(medium down) {
    font-size: 5em;
    color: $medium-gray;
    line-height: 0;
  }
  // color: darken($light-gray, 4%);
}
.flat-icon-text {
  @include breakpoint(medium down) {
    display: block;
    color: $medium-gray;
    font-size: 2rem;
  }
}

//Media type label
// .label-container {
//   position: relative;
//   span {
//     color: $dark-gray;
//     font-weight: bold;
//     position: absolute;
//     right: 0;
//     bottom: 0;
//     width: 70px;
//     height: 70px;
//     background-color: $white;
//     text-align: center;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     opacity: 0.6;
//   }
// }


/////////////////////////////////////////////////////////
//Gallery List View
/////////////////////////////////////////////////////////

.gallery-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  max-height: 1600px;
  max-width:  100%;
  overflow-x: hidden;
  position: relative;
  @include breakpoint(medium down) {
    max-height: none;
  }
  // Make sure that masonry cards are able to be styled with callout class
  .callout{
    display: block;
    box-shadow: 0 10px 6px -6px #777;
    border-color: $light-gray;
    img {
      margin-bottom: $global-padding;
    }
  }
  .column {
    width: 33%;
    flex-basis: content;
    @include breakpoint(medium down) {
      width: 100%;
    }
  }
}

/////////////////////////////////////////////////////////
//News/events 2
/////////////////////////////////////////////////////////

//Featured story banner and text
.featured-story {
  position: relative;
  .featured-story-text {
    position: absolute;
    top: 20%;
    left: 0;
    width: 35%;
    padding:$big-padding;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: $block-border-accent;
    @include breakpoint (medium down) {
      width: 100%;
      position: relative;
      background-color: $white;
      border-bottom: none medium;
    }
    p {
      color: $dark-gray;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .button {
      margin: 0;
    }
    h2 {
      font-size: 2rem;
      font-weight: bold;
      @include breakpoint (medium down) {
        font-size: initial;
      }
    }
  }
  .featured-story-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    .button {
      background-color: transparent;
      border: 3px solid $white;
      padding: 1em 2em;
      font-size: 1rem;
      font-weight: bold;
      &:hover {
        background-color: $white;
        color: $black;
      }
    }
  }
}

//News and events categories row
.categories-row {
  background: $white;
  padding: 6rem 22rem 5rem;
  @include breakpoint (medium down) {
    padding: 6rem 10rem 5rem;
  }
  @include breakpoint (small down) {
    padding: 1rem;
  }
  h2 {
    border-bottom: 1px solid $brand-accent;
    padding-bottom: 0.5rem;
    margin-bottom: $global-padding;
    font-size: 0.9rem;
    text-transform: capitalize;
    font-weight: bold;
  }
  .main-icon {
    margin-top: 0;
    font-size: 1.1rem;
  }
  .main-icon span i, .main-icon span.albadge {
    height: 6rem;
    width: 6rem;
    background-color: $brand-accent;
    border: 5px solid $medium-gray;
    @include breakpoint (small down) {
      margin-bottom: 0.5rem;
    }
  }
}

//Events slideshow
.events-row {
  background-color: $white;
  padding: 0 0 $global-padding;
  @include breakpoint (medium down) {
    padding: $big-padding 0 $global-padding;
  }
  @include breakpoint (small down) {
    padding: $big-padding 0 $global-padding;
  }
  h2 {
    border-bottom: 1px solid $light-gray;
    margin-bottom: $global-padding;
    padding-top: $global-padding;
  }
  //Event styling
  .events-wrapper {
    position: relative;
    .event-item {
      position: absolute;
      left: 0;
      top: 0;
      .event-date {
        border-left: 5px solid $brand-accent;
        margin: 0 auto $global-padding;
        display: table-cell;
        width: auto;
        .event-month {
          margin: 0;
          background: $light-gray;
          padding: $small-padding;
          text-align: center;
        }
        .event-day {
          margin: 0;
          border: 1px solid $light-gray;
          padding: 0 $global-padding;
          text-align: center;
        }
      }
      .event-desc {
        margin-top: $global-padding;
      }
      .event-desc-detail {
        font-weight: bold;
        color: $dark-gray;
      }
      .event-desc-header {
        margin-top: 1.5rem;
        margin-left: $global-padding;
        @include breakpoint (medium down) {
          margin: 0;
        }
        @include breakpoint (small down) {
          margin-top: $global-padding;
        }
      }
      h4.event-desc-header {
        font-weight: bold;
      }
      .button-wrapper {
        border-top: 5px solid $light-gray;
        padding-top: $global-padding;
      }
    }
  }
  h3.slider-title {
    padding: 0.3rem 0 0.3rem 0.5rem;
    border-top: 1px solid $white;
    color: #666;
    background-color: $light-gray;
    border-bottom: 1px solid $dark-gray;
  }
  .events-slider {
    @include breakpoint (medium down) {
      min-height: 270px;
    }
    .orbit-container {
      overflow: visible;
    }
    .orbit-bullets {
      position: absolute;
      left: 0.5rem;
      bottom: 0.5rem;
      margin: 0;
      @include breakpoint (medium down) {
        position: relative;
        left: 0;
        bottom: 0;
        margin: $global-padding;
      }
    }
    .orbit-bullets button {
      background-color: $medium-gray;
      width: 0.7rem;
      height: 0.7rem;
    }
    .orbit-bullets button.is-active {
    	background-color: $brand-accent;
    }
  }
}

//Top stories row
.stories-row {
  background-color: $white;
  padding: 4rem 0 $big-padding;
  @include breakpoint (medium down) {
    padding: 0;
  }
  .callout{
    background-color: $light-gray;
    display: block;
    border: medium none;
    border-bottom: 5px solid $brand-accent;
    margin: 0;
    @include breakpoint (medium down) {
      margin-bottom: 1rem;
    }
    img {
      margin-bottom: $global-padding;
      padding: $global-padding $global-padding 0;
    }
  }
  .story-listing {
    border-right: 1px solid $light-gray;
    &:last-child {
      border-right: medium none;
    }
  }
  .category-tag {
    padding-top: 1.5rem;
    p {
      margin-bottom: 0;
      color: $dark-gray;
    }
  }
  .title {
    padding: 0 $big-padding $big-padding;
    h4 {
      font-weight: bold;
      color: $brand-accent;
    }
  }
  .badge {
    color: $black;
    background-color: transparent;
  }
  .share-links {
    border-top: 1px solid $medium-gray;
  }
  .stand-alone-icon {
    font-size: 3rem;
    display: block;
  }
}

//Did you know, Renov and Featured Resources block
.bottom-row {
  background-color: $white;
  padding: 4rem 0;
  @include breakpoint (medium down) {
    background-color: $light-gray;
  }
  .info-listing {
    .round-thumbnail {
      border-color: $medium-gray;
    }
    img {
      margin-top: 0.5rem;
      box-shadow: 0 10px 6px -6px #777;
      &:hover {
        box-shadow: 0 10px 6px -3px #777;
      }
    }
    h3 {
      font-weight: bold;
      color: $dark-gray;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $medium-gray;
    }
    p {
      padding: $global-padding $global-padding $global-padding 0;
      font-size: 90%;
      letter-spacing: 0.1em;
    }
    .rsvp {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
}
