//colors and styles
@mixin border-style($weight, $color){
  border: $weight solid $color;
}

.light-border {@include border-style(1px, #e6e6e6);}

//helper typography classes for prototyping
.size-xxxs {font-size:0.6em;}
.size-xxs {font-size:0.8em;}
.size-xs {font-size:0.9em;}
.size-sm {font-size:1em;}
.size-sm-a {font-size:1.4em;}
.size-md {font-size:1.5em;}
.size-lg {font-size:2em;}
.size-xl {font-size:2.5em;}
.size-giant {font-size:5em;}
.justify-p {text-align: justify;}
.bold-p {font-weight:bold;}
.uppercase-p {text-transform:uppercase;}
.line-h1 {line-height:1.2em;}

//utility padding and margin
@media only screen and (min-width: 768px){
  //all margins
  .m-0 {margin:0;}
  .m-tb-3 {margin-top:30;margin-bottom:30px;}
  //bottom margin
  .m-b1 {margin-bottom:10px;}
  .m-b1b {margin-bottom:15px;}
  .m-b2 {margin-bottom:20px;}
  .m-b3 {margin-bottom:30px;}
  //bottom negative margin
  .m-b1-n {margin-bottom:-10px;}
  .m-b1b-n {margin-bottom:-15px;}
  .m-b2-n {margin-bottom:-20px;}
  .m-b3-n {margin-bottom:-30px;}
  //top margin
  .m-t1 {margin-top:10px;}
  .m-t2 {margin-top:20px;}
  .m-t3 {margin-top:30px;}
  .m-t4 {margin-top:40px;}
  //top negative margin
  .m-t1-n {margin-top:-10px;}
  .m-t2-n {margin-top:-20px;}
  .m-t3-n {margin-top:-30px;}
  //all padding
  .p-ab {padding:15px;}
  .p-ac {padding:20px;}
  .p-ad {padding:30px;}

}

//dividers
@media only screen and (min-width: 768px){
  .divider-right {border-right:1px solid #ccc;}
  .divider-right-thick {border-right:2px solid #666;}
  .divider-left-thick {border-left: 2px solid #666;}
}
.divider-horizontal {border-bottom:1px solid #ccc;}
.divider-horizontal:last-child {border-bottom:0px solid white;}

//Vertical align mixin
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(50%);
}

//Spacing between sections mixin
@mixin custom-margin($margin) {
  margin-top: $margin;
  margin-bottom: $margin;
}

.custom-thumbnail {
  @include thumbnail;
  border-radius: 50%;
}
@media screen and (min-width: 1024px) {.text-align {@include vertical-align();}}

.custom-margin {@include custom-margin(3rem);}
.custom-margin-top {margin-top:3rem;}

.over-container {position: relative;}
.over-text {position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%;}
.over-center {text-align: center; top: 35%;}

//featured cards row
.cards-row .cards-headline{margin-bottom:-10px; margin-top: 10px;}
.cards-row .card-item img {margin-bottom: -10px;}
.cards-row .card-content {padding: 20px 10px 10px 20px; border: 1px solid #ccc; margin-top: 10px;}
@media only screen and (max-width: 768px){.cards-row .card-content {margin-bottom: 20px;}}
//
.info-bl .info-bl-callout {padding: 30px 20px 20px; border: 1px solid #ccc; margin-top:40px;margin-bottom: 10px;}
.info-bl .info-bl-list {padding: 30px 20px 20px;margin-bottom: 10px;}
.info-bl .info-bl-callout.grey-callout {background-color: #ccc;}
//Horizontal cards
//.horizontal-cards img {float:left;}
//@import url(fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900);

.hero-wrapper {position: relative;}
// Events custom styling
.events-all hr {margin-top: 5px; margin-bottom: 5px;}
.events-small .event-month {padding: 0.5rem 1rem;}
.events-small .event-day {padding: 0 1rem; font-size: 1.5em;}
.events-small .event {padding: 0.8rem 0 0;}

// Custom event
.event-style-2 {display: block;}
@media only screen and (min-width: 768px) {.event-style-2 button {float:right;}}
@media only screen and (max-width: 767px) {.event-style-2 button {width:100%;}}
.custom-post {padding-top:20px;}
.custom-post .event-day {font-size:0.9em;padding:2rem;}
.styled-event .event-date {border-bottom:1px solid #666;font-size: 0.7em;}
.events-small img {margin-top: 5px;}

//Panels
.header.panel {
  margin: 1rem auto;
  border: 1px solid #ccc;
  //background: #fff;

  p {
    font: 1rem "Avenir Next";
    padding: 1rem 2rem 2rem 2rem;
    margin-top: -1.25rem;

    span {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 75%;
      font-weight: bold;
    }
  }

  .sign {
    background:#ccc;
    width: 150px;
    height: 2.4rem;
    border: 1px solid #ccc;
    position: relative;
    top: -1.3rem;
    margin: auto;

    &:hover {background-color: white;}

    h1 {
      text-transform: uppercase;
      font: bolder 0.875rem "Avenir Next";
      letter-spacing: 3px;
      color: #666;
      font-size: 70%;
      text-align: center;
      line-height: 2rem;
    }
  }
}

//Clear default tabs styles
.tabs-clear-styles .tabs, .tabs-clear-styles .tabs-content {border: none;}
.tabs-clear-styles .column:last-child:not(:first-child), .columns:last-child:not(:first-child) {float: left;}

.tabs-base .tabs {border:0 solid white;}
.tabs-base .tabs-content {border:0 solid white;}
.tabs-base .tabs-panel {padding:0;}
.tabs-base .tabs-title > a {padding:0.5rem;}
.tabs-base ul.tabs {margin-bottom: 10px;}

//Clear form select styles
.clear-form-st select {background-color: transparent; border: 0 solid white; margin: 0;}

//Panel hover effect
.panel-wrapper a:hover {background-color: #ccc;}

//media queries show, hide for prototyping purposes
@media only screen and (min-width: 768px) {.table-sm {display: none;}.table-bg {display: block;}}
@media only screen and (max-width: 767px) {.table-sm {display: block;}.table-bg {display: none;} .hide-it {display:none;}}

//accordion
.accordion-navigation {
  >a:after {
    content: "↡";
    padding-left: 5px;
    float: right;
    font-size: 20px;
  }
  &.active > a:after {
    content: "↟";
  }
}
// dropdown clear styles

.dropdown-clear .button.dropdown::after {margin-left: 0; top: 0; border-color: black transparent transparent;}
.dropdown-clear .button {padding: 0; margin: 35px 0 0; background-color: #fff; float: right;}

// testimonial styling
.quote {
  background: #ebf3f5;
  padding: 15px 20px 5px 15px;
  border-radius: 5px;
  margin-bottom: 30px;
  &:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 18px 0 18px;
    border-color: #ebf3f5 transparent transparent transparent;
    position: relative;
    top: 37px;
    left: 20px;
  }
}

.student {
  margin-left: 25px;
  margin-bottom: 40px;
  .photo{
    background-color: #ccc;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
  }
  p{
    position: relative;
    top: 5px;
    text-transform: uppercase;
    &:nth-child(2) {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 0;
    }
    &:nth-child(3) {
      font-size: 14px;
      color: #777;
    }
  }
}
//timeline
@media only screen and (min-width: 1024px){
  .ball {display: block; width: 40px; height: 40px; background-color: #666; border-radius: 50%; margin-left: auto; margin-right: auto; margin-bottom: -10px; width: 20px; height: 20px;}
  .timeline .timeline-line {border-bottom: 2px solid #666;}

.timeline .timeline-box {
  &:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 18px 0 18px;
    border-color: #ccc transparent transparent transparent;
    position: relative;
    top: 37px;
    left: 110px;
  }
}
}
.timeline .timeline-box {width: 300px; /*margin-left: auto; margin-right: auto; background-color: #f8f8f8; padding: 15px;*/}
.timeline .timeline-box {
  margin-left: auto;
  margin-right: auto;
  background: #ccc;
  padding: 15px 20px 5px 15px;
  border-radius: 5px;
  margin-bottom: 30px;
}
// style link to all
@media only screen and (min-width: 1024px) {.link-to-all {text-align: right; padding-top: 20px;}}
@media only screen and (max-width: 1023px) {.link-to-all {text-align: center; padding-top: 10px;}}
// simulate carousel
@media only screen and (min-width: 1024px){
  .cards-styled {position: relative;}
  .control-left {
    transform: rotate(90deg);
    &:after {
      content: '';
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 20px 18px 0 18px;
      border-color: #ccc transparent transparent transparent;
      position: absolute;
      top: 360px;
      left: 860px;
      cursor: pointer;
    }
  }
  .control-right {
    transform: rotate(-90deg);
    &:after {
      content: '';
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 20px 18px 0 18px;
      border-color: #ccc transparent transparent transparent;
      position: absolute;
      top: 600px;
      left: 300px;
      cursor: pointer;
    }
  }
}
//style carousels
.orbit-custom .orbit-previous,.orbit-custom .orbit-next {color: #333;}
.orbit-previous, .orbit-next {background-color:#ccc;opacity:0.5;}
.orbit-bullets button {width:0.8rem;height:0.8rem;}
.slideshow-box {padding: 30px 20px 40px; border: 1px solid #ccc; margin-top: 0;margin-bottom: 10px;}

//sticky styling
//.sticky-custom {right: -150px; top: 300px; width: 100px;}
.sticky-custom {width: 100px; margin-left: -100px; margin-top: 100px !important;}
.sticky-custom i {font-size: 3em; float: left; font-size: 2em; width: 100%;}

// thumbnail label
.thumb-label {width: 100%; background-color: #666; margin-top: -31px;}
p.thumb-label {color: white; font-size: 0.7em; text-align: center; font-weight: bold;}

//slide up dive on hover - news & events
//large
.block-wrapper {
  position: relative;
  max-height: 440px;
  overflow: hidden;
}
.block-wrapper img {width:100%; height:auto;}
.overlay-text, .overlay-text-sm {
  min-height: 440px;
  background:rgba(0,0,0, 0.5);
  display: block;
  position: absolute;
  top: 73%;
  width: 100%;
  left:0;
  transition: all .3s ease-in-out;
  color: white;
}
.overlay-text-sm {
  top: 77%;
}
.overlay-text-sm a, .overlay-text a {color:white;}
.overlay-sm {padding:15px;}
.block-wrapper:hover .overlay-text, .block-wrapper:hover .overlay-text-sm {
  top:0;
}
//horizontal block overlay
.info-block {height: 160px;width: auto;overflow: hidden; transition: all .2s ease-in-out;}
.info-block:hover {
  display:block;
    height:auto;
}
//static overlay
.stat-overlay-wrapper {position:relative;}
.stat-overlay-content {position:absolute;bottom:0;left:0;}
.stat-overlay-content a {color:white;}
.square-block {width:170px;height:160px;background-color:#666;display: block;margin-bottom:30px;}
//style static header box
.header-box {background-color: #f8f8f8; border: 1px solid #ccc;}
.header-box-content {padding: 30px 30px 0px;}
.header-box img {width:100%;height:auto;}
//style overlay on mobile
@media only screen and (max-width: 960px){
  .header-box-content {padding:15px;}
  .header-box-content h1 {font-size:1em;margin-bottom: 20px;}
  .overlay-sm {padding: 5px;}
  .block-wrapper {margin-bottom: 20px;}
}
//social menu
.social-menu p {margin-bottom:0;}
.social-menu .menu > li:not(.menu-text) > a {padding: 0.2rem 0.9rem;}
//footer

.footer-proto {
  background-color: #ccc;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;

  .social a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    line-height: 2rem;
    margin: 0 3px 0 0;
  }

  .copywrite {
    color: #333;
    font-size: 0.875rem;
    margin: 1rem 0 1rem 0;
  }

  .footer-links a {
    list-style: none;
    font-weight: normal;
    color: #333;
    padding: 3rem 0 2rem;
    margin: 0;
    font-size: 0.875rem;

    &::after {
      content: "•";
      padding: 0 0.2rem 0 0.4rem;
    }

    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }
  }


  @media only screen and (min-width: 40.063em) {
    padding: 4rem;

    p {
      text-align: left;
    }

    .social {
      text-align: left;
      margin: 0;
    }

}
}

.logo {
  color: #333;
  font-size: 1.5rem;
}
//label over image top right
.label-wraper {position: relative;}
.label-wraper .label {position: absolute; top:0; right:0;}

//label over image bottom right
.label-wraper-br {position: relative;}
.label-wraper-br .label {position: absolute; top:0; right:0;}

//Media object custom style for mobile
@media only screen and (max-width: 960px){
  .media-img img {width: 25% !important; float: left; margin-right: 10px; margin-bottom: 10px;}
  .media-object-section img {width: 100%;}
  .media-object-section {display: block;}
}
//Media object style
.rounded-media img {border-radius: 50%; margin-bottom: -50px !important; border: 6px solid #eee;}

//Fun block - rollover-v2
.fun-block-inner {position: relative;}
.fun-block-inner .fun-block-text {position: absolute;left:0; bottom: 0; background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0; margin:30px; padding: 20px; border-radius: 15px;}
@media only screen and (max-width: 960px){.fun-block-inner .fun-block-text {border-radius: 0; top:0; bottom: initial;position: relative;margin:0;}.fun-block-inner .fun-block-text {margin-top:5px;}}
.fun-block-inner .fun-block-text p, .fun-block-inner .fun-block-text h3 {color: white;}
.fun-block-inner .fun-block-text p {padding-left:40px;padding-right:30px;}
h3.fun-heading {margin-left: 5px;}
@media only screen and (max-width: 960px){h3.fun-heading {margin-left: 15px;}}
@media only screen and (max-width: 768px){h3.fun-heading {margin-left: 25px;}}
.fun-icon i {font-size:1.6em;background-color: white;padding: 5px 9px; border-radius: 50%;}
.fun-block-inner .fun-block-text a {color: #ccc;}

.letter-styled {display: table; margin-top: 23px; width:55px; height: 55px; background-color: #666; font-weight:bold; text-align: center; border-radius: 50%; font-size:  1.8em; color: white;}
.letter-styled span {display:table-cell; vertical-align: middle;}
.letter-styled .has-tip {border-bottom: 0 solid #666;}
.letter-styled.light {background-color: #ccc;}
@media only screen and (max-width: 768px){.letter-styled {margin-left:auto;margin-right: auto;}}

//style category dots
.category-btns {float: right; margin-bottom: 10px;}
.category-btns .icon-button span {width:15px; height:15px; background-color: #666; display: block; float: right; border-radius: 50%; margin-left: 3px;}
.category-btns .icon-button span.gr1 {background-color: #666;}
.category-btns .icon-button span.gr2 {background-color: #ccc;}
.category-btns .icon-button span.gr3 {background-color: black;}
.category-btns .icon-button span.gr4 {background-color: #eee;}
.category-btns .icon-button span.gr5 {background-color: #333;}



// *************************
// Universal listing designs
// *************************

// Super Simple List
.universal-list .label a {color:white;}
.universal-list .list-info-v1 span {float:left;}
.universal-list .featured-tag {float: right;}

// Fancy Modular Design List
@media only screen and (min-width: 768px){
  .universal-list .list-br {border-right:1px solid #eee;}
  .universal-list .list-bl {border-left:1px solid #eee;}
  .universal-list .list-bt {border-top:1px solid #eee;}
  .universal-list .list-bb {border-bottom:1px solid #eee;}
}
.universal-list .list-info-v2 {display:table;}
.universal-list .list-info-v2 .list-group-v2 {display:table-cell;vertical-align:bottom;}
.universal-list .list-info-v2 .list-group-v2b {display:table-cell;vertical-align:top;}
@media only screen and (min-width: 768px){.universal-list .list-info-v2 .list-group-v2b div {text-align:right;}}
@media only screen and (max-width: 767px){.universal-list .list-info-v2 .list-group-v2b div {margin-bottom:5px;}}

//Top menu bar with sorting options
.universal-list .tabs {background-color:#f8f8f8;}
.universal-list .tabs li {display:inline;}

// *************************
// Thumbnail listing designs
// *************************

.universal-list .thumbnail-v1 {
  background-color: #eee;
  text-align: center;
}
.universal-list .thumbnail-v1 img {width:100%;height:auto;}

// *************************
// News and Events Concept 2 Variations
// *************************

//Categories with icon and animation
.category-style-v2 span {
  background-color: #ccc;
  border-radius: 10px;
  display: block;
  margin: 20px auto -15px;
  padding: 10px 10px 0;
  text-align: center;
  width: 150px;
  transition-duration: 0.3s;
}
.category-style-v2 span {
  &:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 18px 0 18px;
    border-color: #ccc transparent transparent transparent;
    position: relative;
    top: 38px;
    left: 0;
  }
}
.category-style-v2 span i {display:block;margin:0;font-size:3em;}
.category-style-v2 .category-text {
  padding-top: 30px;
  text-align: center;
}
@media only screen and (min-width: 768px){.category-style-v2 .category-text{border: 1px solid #ccc;}}
.category-style-v2:hover span {transform: translateY(-10px);}
