.simple-toggle {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  .simple-toggle-content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: black;
    display: none;
    color: white;
  }
}
