.DS_Store
node_modules
npm-debug.log
bower_components
dist

src/assets/img/foundation-icons/svgs/fi-burst-trial.svg

src/assets/scss/components/foundation-icons.scss

src/assets/img/deco/EFADA8BD762846D6._t_

src/assets/img/deco/burst.svg

src/assets/fonts/foundation-icons/svgs/fi-burst-trial.svg

src/pages/sidebar-v.html

src/assets/scss/app.scss
