{{!-- This is the base layout for your project, and will be used on every page. --}}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>

<body>
    <!-- off canvas div start-->
    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <!-- off canvas div start end -->
            <!-- Start My Z6full site layout header -->
            <header>
                <nav>

                    <!-- new top menu behavior -->
                    <div class="title-bar hide-for-medium" data-responsive-toggle="example-menu">
                        <button class="menu-icon" type="button" data-toggle="offCanvasLeft"></button>
                        <div class="title-bar-title">Menu</div>
                    </div>
                    <div class="row show-for-medium">
                        <div class="top-bar-left">
                            <ul class="dropdown menu" data-dropdown-menu>
                                <li class="menu-text"><a href="/index.html"><h1><small>ALWSRIPO</small></h1></a></li>
                                
                                <li class="has-submenu"><a href="#">Landing</a>                                       
                                    <ul class="menu">
                                  <!--   <li><a href="/almockups/landing1.html">Concept 1</a></li>
                                    <li><a href="/almockups/landingcard.html">Concept 2</a></li> -->
                                    <li><a href="#">...</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Databases</a>
                                    <ul class="menu">
                                    <li><a href="/almockups/dblanding.html">DB Landing 1</a></li>
                                    <li><a href="/almockups/dbresults.html">DB Results 1</a></li>
                                    <li><a href="/almockups/dbdetail.html">DB Detail 1</a></li>
                                    </ul>
                                </li>
                                <li><a href="/almockups/allhours.html">All Hours</a></li>
                                <li><a href="#">Marketing</a>
                                    <ul class="menu">
                                    <li><a href="#">...</a></li>
                                    </ul>
                                </li>                                                                                 
                            </ul>
                             <!--    <div class="input-group">
                                    <input class="input-group-field" type="text" placeholder="Search this site" id="search_string_All" name="q">
                                    <span class="input-group-label"><i class="fi-magnifying-glass"></i></span>
                                </div> -->
                        </div>
                      
                        <div class="top-bar-right">
                                                   
                            <div class="columns large-2">
                            <button class="button" type="button" data-toggle="flymenu">More</button>
                            </div>
                        </div>
                        
                    </div>
                    <!-- end of new top menu behavior -->

                    <!-- Original Start Top Bar -->
                    <!-- <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
                        <button class="menu-icon" type="button" data-toggle></button>
                        <div class="title-bar-title">Menu</div>
                    </div>
                    <div class="top-bar" id="example-menu">
                        <div class="row">
                            <div class="top-bar-left">
                                <ul class="dropdown menu" data-dropdown-menu>
                                    <li class="menu-text">AL Web Services RP Sandbox</li>
                                    <li><a href="/styleguide.html">Redesign Style Guide</a></li>
                                    <li class="has-submenu">
                                    <a href="#">Redesign Mockups</a>
                                          <ul class="menu">
                                            <li><a href="#">Library Home</a>
                                            <ul class="menu">
                                            <li><a href="/almockups/landing1.html">Concept 1</a></li>
                                            <li><a href="/almockups/landingcard.html">Concept 2</a></li>
                                            </ul>
                                            </li>
                                            <li><a href="#">Databases</a>
                                            <ul class="menu">
                                            <li><a href="/almockups/dblanding.html">DB Landing 1</a></li>
                                            <li><a href="/almockups/dbresults.html">DB Results 1</a></li>
                                            <li><a href="/almockups/dbdetail.html">DB Detail 1</a></li>
                                            </ul>
                                            </li>      
                                             <li><a href="#">News & Events</a>
                                            <ul class="menu">
                                            <li><a href="#">News & Events Landing</a></li>
                                            <li><a href="#">Featured</a></li>
                                            <li><a href="#">...</a></li>
                                            </ul>
                                            </li>                                       
                                            <li><a href="/almockups/allhours.html">All Hours</a></li>
                                            
                                          </ul>                                  
                                    </li>
                                    <li class="has-submenu">
                                        <a href="#">ZurbF Example</a>
                                        <ul class="submenu menu vertical" data-submenu>
                                            <li><a href="/templates/agency.html">Agency</a></li>
                                            <li><a href="/templates/estate.html">Estate</a></li>
                                            <li><a href="/templates/mag.html">Megazine</a></li>
                                            <li><a href="/templates/marketing.html">Marketing</a></li>
                                            <li><a href="/templates/portfolio.html">Portfolio</a></li>
                                            <li><a href="/templates/product.html">Product</a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        
                        </div>
                    </div> -->
                    <!-- End Top Bar -->
                    <!--row hide + flydown -->
                    <div class="row hide-first" id="flymenu" data-toggler data-animate="fade-in fade-out" data-closable>
                       <button class="close-button" type="button" aria-label="Dismiss alert" data-close>
                            <span aria-hidden="true">&times;</span>
                            </button>  
                     <div class="columns callout">
                            <!-- <div class="input-group">
                                <input class="input-group-field" type="text" placeholder="Search this site" id="search_string_All" name="q">
                                <span class="input-group-label"><i class="fi-magnifying-glass"></i></span>
                            </div> -->
                            <p>Concept prototyping for responsive menu handling</p>
                            <p>A handy see it all flydown menu would be ideal for providing "view everything we have" features for desktop display. Burger menu can be utilized for smartphone</p>


                        </div>
                        <div class="columns large-3 medium-6 small-12">
                            <span><strong>Group 1</strong></span>
                            <ul class="sitemapmenu vertical">
                                <li><a href="#">Sub Menu Item</a></li>
                                <li><a href="#">Sub Menu Item</a></li>
                                <li><a href="#">Sub Menu Item</a></li>
                                <li><a href="#">...</a></li>
                            </ul>
                        </div>
                        <div class="columns large-3 medium-6 small-12">
                            <span><strong>Group 2</strong></span>
                            <ul class="sitemapmenu vertical">
                               <li><a href="#">Sub Menu Item</a></li>
                                <li><a href="#">Sub Menu Item</a></li>
                                <li><a href="#">Sub Menu Item</a></li>
                                <li><a href="#">...</a></li>
                            </ul>
                        </div>
                        <div class="columns large-3 medium-6 small-12">
                            <span><strong>Group 3</strong></span>
                            <ul class="sitemapmenu vertical">
                                <li><a href="#">Sub Menu Item</a></li>
                                <li><a href="#">Sub Menu Item</a></li>
                                <li><a href="#">Sub Menu Item</a></li>
                                <li><a href="#">...</a></li>
                            </ul>
                        </div>
                        <div class="columns large-3 medium-6 small-12">
                            <span><strong>Group 5</strong></span>
                            <ul class="sitemapmenu vertical">
                                <li><a href="#">Sub Menu Item</a></li>
                                <li><a href="#">Sub Menu Item</a></li>
                                <li><a href="#">Sub Menu Item</a></li>
                                <li><a href="#">...</a></li>
                            </ul>
                        </div>


                    </div>
                    <!--end of hide + flydown menu-->
                    <!-- my sidebar content -->
                    <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
                        <button class="close-button" aria-label="Close menu" type="button" data-close>
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="row">
                            <div class="small-12 small-centered columns">
                                <ul class="vertical menu">
                                    <li><a href="/index.html" target="_blank">ALRIPO</a></li>
                                    <li><a href="/almockups/dblanding.html">DB Landing</a></li>
                                    <li><a href="/almockups/dbresults.html">DB Results</a></li>
                                    <li><a href="/almockups/dbdetail.html">DB Detail</a></li>

                                </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end of my sidebar content -->
                </nav>
            </header>
            <!-- End My Z6full site layout header -->
            {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}} {{> body}}
            <!-- off canvas div end -->
        </div>
    </div>
    <!-- off canvas div end end-->
    <script src="{{root}}assets/js/app.js"></script>
</body>

</html>
