{{!-- This is the base layout for your project, and will be used on every page. --}}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>

<body>
    <!-- new header to incorporate the CU Denver top links -->
    <header>
        <div class="topbar callout">
            <div class="row large-12">
                <p><a class="float-right" data-toggle="flymenu">More Options</a></p>
            </div>
            <div class="row hide-first" id="flymenu" data-toggler data-animate="fade-in fade-out">
                <div class="columns large-3 medium-6 small-12">
                    <h5>Find</h5>
                    <ul class="sitemapmenu vertical">
                        <li><a href="/templates/agency.html">Agency</a></li>
                        <li><a href="/templates/estate.html">Estate</a></li>
                        <li><a href="/templates/mag.html">Megazine</a></li>
                        <li><a href="/templates/marketing.html">Marketing</a></li>
                        <li><a href="/templates/portfolio.html">Portfolio</a></li>
                        <li><a href="/templates/product.html">Product</a></li>
                    </ul>
                </div>
                <div class="columns large-3 medium-6 small-12">
                    <h4>Services</h4>
                    <ul class="sitemapmenu vertical">
                        <li><a href="/nwal/landing1.html">Landing 1</a></li>
                        <li><a href="#">...</a></li>
                        <!-- add more mockups html pages here -->
                    </ul>
                </div>
                <div class="columns large-3 medium-6 small-12">
                    <h4>About</h4>
                    <ul class="sitemapmenu vertical">
                        <li><a href="/styleguide.html">Redesign Style Guide</a></li>
                    </ul>
                </div>
                <div class="columns large-3 medium-6 small-12">
                    <h4>Resources</h4>
                    <ul class="sitemapmenu vertical">
                        <li><a href="http://foundation.zurb.com/sites/docs">Docs</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- / end of the header -->
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}} {{> body}}
    <script src="{{root}}assets/js/app.js"></script>
</body>

</html>
